[2017-06-27 17:32] ckirksey3 commented on #639
Yeah, you can use Gazebo! https://www.youtube.com/watch?v=TnnEu73zBdo

[2017-06-27 17:49] #331 closed

[2017-06-27 17:49] #420 closed

[2017-06-27 17:52] #506 closed

[2017-06-28 00:46] k22jung commented on #710
Here is a screenshot on RViz. Under "topics", there's no "image_raw". Are you sure it's there?
![image](https://user-images.githubusercontent.com/14689505/27615892-8ea2e9fe-5b79-11e7-86ed-17ac88b1ac75.png)

[2017-06-28 00:57] amc-nu commented on #710
There is no image data in any of the demo rosbags due to privacy concerns.

[2017-06-28 01:09] #710 closed

[2017-06-28 04:55] #664 closed

[2017-06-28 07:18] Ayushas2427 opened #715 "Autoware Installation"
On installing the AutoWare package, i am getting the following error:

![ros_error_6](https://user-images.githubusercontent.com/25845090/27624813-f4c5b01e-5bff-11e7-8d70-9c2f46682b78.png)

I have installed the pcl version 1.8.0.
Thanks

[2017-06-28 13:09] ebeowulf commented on #705
Which ROS version are you using? kitti_player is not built by default in ROS kinetic, and getting it to run is more than a little painful

[2017-06-28 18:01] SDwaiwai opened #716 "Invoking "make -j8" failed"
My system is Ubuntu16.04
ROS kinetic
When catkin_make_release,it failed.
[ 63%] Building CXX object computing/perception/localization/packages/orb_localizer/CMakeFiles/orb_matching.dir/nodes/common.cpp.o
In file included from /home/sdwaiwai/Autoware/ros/src/computing/perception/localization/packages/orb_localizer/nodes/orb_matching/orb_matching.cpp:10:0:
/home/sdwaiwai/Autoware/ros/src/computing/p

[2017-06-29 13:07] sujiwo commented on #716
Sorry @SDwaiwai, I couldn't reproduce the error in my system (16.04). Are you sure you are using latest version of develop branch?
Can you please try this command:
`catkin_make --pkg orb_localizer`

[2017-06-29 15:57] huiyi1990 commented on #639
@ckirksey3 Thanks.

_Sent from my OnePlus ONEPLUS A5000 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-30 16:31] andoh104 commented on #693
@kitsukawa -san

I debuged this method:removePointsByRange.
https://github.com/andoh104/Autoware/blob/LocalizationPatch/ros/src/sensing/filters/packages/points_downsampler/include/points_downsampler.h
Then I found that max_range is always set to 0.0 . So this is bug.

[2017-07-01 11:19] bobjohnson2040 opened #719 "Any tips on using calibration toolkit?"
Do you have any suggestions on how to use calibration toolkit? I am trying to calibrate my Velodyne VLP-16 and Pointgrey camera. How many images/scans do you recommend grabbing/annotating?

I'm having 2 issues:

1. The main issue is the calibration toolkit frequently crashes and I have to start over. This happens the most when trying to save the calibration results.

2. I'm having a difficult time

[2017-07-02 03:47] andoh104 commented on #693
I have made a Pull Request to fix this issue.

[2017-07-07 14:42] anndymaktub commented on #716
To make sure debug.h has been generated before building orb_matching/orb_matching_pf.
You need to add the following codes  into `orb_localizer/CMakeLists.txt`

[code]

[code]

[2017-07-09 04:17] andoh104 opened #722 "VectorMap Server Call failed"
This error message was output .

The cause of this error message is as follows:
https://github.com/CPFL/Autoware/blob/master/ros/src/data/packages/vector_map_server/nodes/vector_map_server/vector_map_server.cpp
`ros::ServiceServer` is_way_area_srv = nh.advertiseService("vector_map_server/is_way_area",
&VectorMapServer::isWayArea, `&vms);`

The service of "vector_map_server/is_way_area" is not adve

[2017-07-09 08:03] andoh104 commented on #722
The service  "vector_map_server/is_way_area"  don't exist. I think the correct service name is "vector_map_server/PositionSate".

But those services are not running.
[code]

[2017-07-09 08:49] kuriking commented on #722
You must run vector_map_server.

[code]

[2017-07-09 12:52] andoh104 commented on #722
Thank you very much. I have been able to run vector_map_server as follows.
[code]

And I understood that service type is "vector_map_server/PositionState", and service name is "vector_map_server/is_way_area".
But I think RuntimeManager should run  vector_map_server.

[2017-07-10 02:01] dejanpan commented on #715
Can you update this with:
- which install instructions did you follow?
- which ubuntu version do you use (14.04, 15.04, 16.04)?
- which autoware version (e.g. master/develop branch)?

[2017-07-10 02:03] dejanpan commented on #719
I unfortunately do not have an answer beyond this video: https://www.youtube.com/watch?v=pfBmfgHf6zg.

Out of curiosity, which camera and which lidar sensor do you use?

[2017-07-10 02:07] dejanpan commented on #698
Can you update this with:

which install instructions did you follow?
which ubuntu version do you use (14.04, 15.04, 16.04)?
which autoware version (e.g. master/develop branch)?
which ROS version?

I've got ubuntu 14.04, master branch and ROS indigo and don't even have oracle-java7-installer deb.

[2017-07-10 02:26] dejanpan opened #724 "Issues with Autoware master branch."
Today I installed and tried out master brnach of Autoware (70bd1c2d7adbb6c8f8c859d75a46c3af3a853f3a).
I am running on Ubuntu 14.04, ROS Indigo, using ample_moriyama_150324.bag.

I encountered the following issues:
Compilation: https://github.com/CPFL/Autoware/pull/723
Running:
- ndt_matching is off in yaw direction:
![lidar_not_matching](https://user-images.githubusercontent.com/17376/28000677-27d

[2017-07-10 06:47] andoh104 commented on #724
NDT matching problem has been fixed . But it has not been merged into master branch yet.
https://github.com/CPFL/Autoware/issues/693

[2017-07-10 07:01] dejanpan commented on #724
Ok, thx. I will try out develop then.

[2017-07-10 07:39] Ayushas2427 commented on #715
Respected,
Thank you fir the reply.
1: I used the following set of commands s given in the github link:
[code]

2: I am using ubuntu 14.04
3: I simply followed the link of [github](https://github.com/CPFL/Autoware) and so I am not sure of which autoware version I am using.
4: ROS Vesrion: Indigo

Thank you
Regards

[2017-07-10 16:12] dejanpan commented on #715
If you ran `sudo apt-get install ros-kinetic-desktop-full ` and the rest then you are NOT using Indigo but Kinetic.
For Autoware version cd into where you cloned Autoware and run `git log` and copy the top most git commit sha.

[2017-07-13 02:24] kitsukawa commented on #693
@andoh104 Thank you very much for the bug fixes.

[2017-07-13 09:11] andoh104 commented on #693
Don't mention it.
I will close this, if it is merged into master branch.
Thanks,

[2017-07-14 19:16] bobjohnson2040 commented on #719
@dejanpan I would greatly appreciate any help possible.

I have watched that video numerous times.

I am using a Velodyne VLP16 and a Pointgrey Flea3 camera with a wide angle lens.

Do you know if I'm supposed to calibrate the camera by itself before doing the `Camera -> Velodyne` calibration? Should I use the Autoware camera calibration or the ROS camera_calibration package?

I noticed from the d

[2017-07-14 19:16] bobjohnson2040 commented on #704
+1

[2017-07-15 04:01] swwelch opened #731 "Build Error: vector_map_server/GetWhiteLine.h: No such file or directory"
Hi,

I'm having a little trouble getting Autoware installed on an Ubuntu 16.04 VM with ROS Kinetic. I see the following:

[code]

I've tried `catkin_make --pkg vector_map_server` and see the same.

I also see the following warnings:
[code]

Thanks,

Stephen

[2017-07-15 12:05] andoh104 commented on #693
It has been merged into master branch.
I tested master branch is OK.

[2017-07-15 12:05] #693 closed

[2017-07-15 12:11] andoh104 commented on #660
They was merged into master branch.

[2017-07-16 02:55] yk-fujii commented on #731
Thanks for your report.
This is a bug.

I'll fix this... wait a little...

[2017-07-16 03:29] #731 closed

[2017-07-17 16:52] keenan-burnett commented on #698
I followed the install instructions from your manual.
14.04
master
Jade

[2017-07-17 17:14] dejanpan commented on #698
thx @keenan-burnett. we need to start releasing autoware on http://wiki.ros.org/build.ros.org to avoid regressions like this. I will talk to @yk-fujii about this in the next days.

[2017-07-18 09:02] aztinki commented on #560
Did you guys find a solution to this problem? I have the same problem!

[2017-07-19 00:24] dejanpan commented on #719
@bobjohnson2040 I will give it a try tomorrow, till tomorrow I am not behind a Linux computer.

I found this document it does not talk about /camera/camera_info: https://github.com/CPFL/Autoware/blob/6aea989f336561b94e5c29becccbd47228cd17f3/ros/src/sensing/fusion/packages/calibration_camera_lidar/CalibrationToolkit_Manual.pdf.

However I am pretty sure that they use intrinsically calibrated camera

[2017-07-19 02:18] amc-nu commented on #719
@bobjohnson2040 The calibration Toolkit will find both he intrinsic and extrinsic calibration matrices
so there is no need to calibrate it beforehand.

We usually grab 70-100 frames

[2017-07-19 02:28] asimay opened #734 "divide 0 will report error."
https://github.com/CPFL/Autoware/blob/master/ros/src/sensing/fusion/packages/scan2image/nodes/scan2image/scan2image.cpp#L63

when camera_z == 0.0
[code]

[2017-07-20 06:26] Ayushas2427 commented on #715
Respected Sir,
I regret, I mentioned the wrong commands in the comment above.
I have corrected the commands now.

As said before, I am using ROS Indigo only.
Thanks

[2017-07-20 12:59] amc-nu commented on #699
Hello @wymin23

Please have a look at
[http://wiki.ros.org/roslaunch](http://wiki.ros.org/roslaunch)

Basically after 1) compiling successfully Autoware, 2) downloading the KITTI dataset you wish to publish, and 3) Modified the launch file as indicated in
[https://github.com/CPFL/Autoware/tree/master/ros/src/util/packages/kitti_pkg](https://github.com/CPFL/Autoware/tree/master/ros/src/util/package

[2017-07-20 12:59] #699 closed

[2017-07-20 13:00] amc-nu commented on #702
@Stella-Chen
Please have a look at
[http://wiki.ros.org/tf#static_transform_publisher](http://wiki.ros.org/tf#static_transform_publisher)

[2017-07-20 13:00] #702 closed

[2017-07-20 13:01] #656 closed

[2017-07-21 15:15] iulialexandra opened #736 "Runtime manager not starting"
I am trying to run Autoware but only the roscore terminal shows up when I type ./run. I get prompted for my password for the Runtime Manager but after I type it nothing happens, I don't even get an error, so I have no clue how to debug this.

Does anybody know what might be going on?

I am using Ubuntu 16.04.

[2017-07-21 15:20] dejanpan commented on #736
Which ROS Version are you using and which branch did you check out and
compile (best give us commit sha).

What you need to type in is your root user password.

On Fri, Jul 21, 2017, 8:15 AM Iulia-Alexandra Lungu <
notifications@github.com> wrote:

[2017-07-21 15:23] iulialexandra commented on #736
I installed ros-kinetic through apt-get.
I followed the README instructions for Autoware and did _git clone https://github.com/CPFL/Autoware.git_, so I guess it's the master branch.

I did type the root user password.

[2017-07-21 21:56] claretway opened #737 "Invoking make -j16 failed"
I know that this was covered [here](https://github.com/CPFL/Autoware/issues/716) but I ran into this same issue and the suggestions for debugging did not work for me. I'm using Ubuntu 14.04 with ROS Indigo. I was never able to selectively build the orb_localizer package with `catkin_make --pkg orb_localizer` even after adding the lines to the CMakeLists.txt suggested in the link above.

This is th

[2017-07-21 22:15] dejanpan commented on #737
is this master or develop branch?

[2017-07-21 22:19] claretway commented on #737
I cloned from master

[2017-07-21 22:34] claretway commented on #737
I was on master

[2017-07-21 22:37] travelbureau commented on #737
Output says -j48 right before it fails not sure what behavior to expect but
I'm doubting you have 48 cores (although it's not impossible) also -l48
seems suspect perhaps some typo in build script?

On Jul 21, 2017 6:34 PM, "claretway" <notifications@github.com> wrote:

I was on master

—
You are receiving this because you are subscribed to this thread.
Reply to this email directly, view it on GitH

[2017-07-21 23:12] dejanpan commented on #737
I have built successfully on 16.04 and kinetic with the same command
[code]

@amc-nu who is most familiar with build issues in Autoware? Do you guys have any nightly or PR builds for different:
- processor architectures
- different ubuntu versions
- different ROs version
?

[2017-07-21 23:19] claretway commented on #737
I think there are 24 cores and 24 virtual cores

[2017-07-21 23:32] dejanpan commented on #736
I am on master (bf694eb1dfd7656ca0889182d0ae783a1ceecdf7), also 16.04 and kinetic and for me runtime_manager GUI shows up without a problem.

Which SHELL and which terminal app are you using?

What happens if you do following in 2 different terminals
[code]

[2017-07-22 00:29] amc-nu commented on #737
@claretway
We don't find any problems while building with the script maybe it's something related to your environment.
Please try compiling manually
While in the ros directory:
1. catkin_make clean
2. source devel/setup.bash
3. catkin_make -j8

@dejanpan
afaik, it supports ARM architecture, but that's already included in the scripts.

It also supports ROS hydro or Ubuntu 13.04, 13.10, but that's a

[2017-07-22 00:32] dejanpan commented on #737
thx. What I meant is do you build on clean versions of all this variations before new pull request gets merged into master?

[2017-07-22 00:35] amc-nu commented on #736
@iulialexandra
It might be a silly question but, did you compile successfully using the catkin_make_release command from a terminal?
I've seen this behavior if the files required by runtime manager haven't been compiled.

[2017-07-22 00:38] amc-nu commented on #737
@dejanpan
We check it builds and works on 14.04 and 16.04.
ARM is also verified.

[2017-07-22 00:42] dejanpan commented on #737
Do you have any documentation on how building and working is tested? Is it manual?

I am asking because my plan was to release Autoware through ROS build farm: http://wiki.ros.org/bloom/Tutorials/FirstTimeRelease which would check these things where at least building would happen automatically.

[2017-07-22 00:48] amc-nu commented on #737
@dejanpan
We do it manually on each of our different machines.
We add the new dependencies, clean the environment using the catkin_make_release script and test on each of our different environments before merging to master (since all of us work on the develop branch)

[2017-07-22 00:56] travelbureau commented on #737
Would definitely try -j4 or -j8. On my 32gb ram workstation I have ran into
memory issues when building with a lot of cores, but sounds like there
might be something else going on as well.

On Jul 21, 2017 8:48 PM, "Abraham Monrroy" <notifications@github.com> wrote:

[2017-07-22 01:12] yinchenjia opened #738 "Invoking "make -j8 -l8" failed in Ubuntu 16.04"
Here are the last few lines before the build crashes.

[ 42%] Generating C++ code from autoware_msgs/CloudCluster.msg
[ 42%] Built target orb_slam2
[ 42%] Generating C++ code from autoware_msgs/ValueSet.msg
[ 42%] Generating C++ code from autoware_msgs/ConfigWaypointFollower.msg
[ 42%] Generating C++ code from autoware_msgs/obj_label.msg
[ 42%] Generating C++ code from autoware_msgs/PointsImage.ms

[2017-07-22 01:22] dejanpan commented on #738
please provide full trace, error message is not even here. Also please make sure that you have your packages up to date (apt-get update && apt-get dist-upgrade) and that you only have /opt/ros/kinetic/setup.bash sourced before you clone and compile Autoware.

[2017-07-23 04:34] yinchenjia commented on #738
It is my fault. Some dependencies are not installed. It is working now. Thanks.

[2017-07-23 04:34] #738 closed

[2017-07-23 09:12] manato commented on #736
@iulialexandra
This problem sometimes happens by lack of some python dependencies.
Would you refer #682 ?
Conversations here may help you to find out what the exactly problem is.

[2017-07-23 12:50] iulialexandra commented on #736
Thanks to all for your answers, it works now. I had the same issue as #682, but I hadn't noticed that thread, sorry.

[2017-07-23 12:50] #736 closed

[2017-07-24 02:05] dejanpan commented on #738
Can you maybe just say which were those dependencies? Are they missing in the README file? Just so we understand if the error was because you didn't fully follow the instructions or because there are things missing in the instructions.

[2017-07-24 02:35] dejanpan commented on #736
@iulialexandra @manato
you just installed `python-wxtools` and runtime manager showed up?

This is weird because if I understand correctly then this line failed: https://github.com/CPFL/Autoware/blob/master/ros/src/util/packages/runtime_manager/scripts/runtime_manager_dialog.py#L33.

This module is installed via `libwxgtk3.0-0v5` debian package and if you do a reverse search:
`aptitude why libwxgt

[2017-07-24 15:59] iulialexandra commented on #736
@dejanpan

Yep, installed python-wxtools and runtime manager showed up.
This is the only thing I did to make it work, not sure what the actual problem was.

[2017-07-24 18:54] dejanpan opened #743 "Features for Team Bay Area"
I will work on the features in this order.
- [ ] #759 Implement binary (debian) releases. Follow these steps: http://wiki.ros.org/bloom/Tutorials/FirstTimeRelease

- [ ] unit and integration testing. I found a few unit tests and I think no integration tests. Integration tests could be done together with the data from https://ternaris.com/marv-robotics/demo/.
@amc-nu do you have couple of minutes t

[2017-07-24 19:05] claretway commented on #737
Okay, now I'm thinking it's an issue with opencv, of which I have version 3.3.0 installed. I got this error, I guess after I ran `catkin_make clean` and built with reduced cores:

```make[2]: *** No rule to make target `/usr/lib/x86_64-linux-gnu/libopencv_videostab.so.2.4.8', needed by `/home/driver/ccui/planner/Autoware/ros/devel/lib/vectacam/vectacam_node'.  Stop.```

[2017-07-24 20:37] claretway commented on #737
Is Autoware not working with OpenCV3 still @syohex? I guess I missed this. I was under the impression that "OpenCV 2.4.10 or higher" under the README requirements meant that OpenCV3 was supported as well.

[2017-07-24 23:07] PeterZheFu commented on #173
@RicWg  May I know if I can be added to the slack channel, too? My email is peterzhefu@ece.ucsb.edu, or preferrably at peterzhefu@gmail.com    Thank you.

[2017-07-25 05:49] claretway commented on #737
Still running into issues, but earlier issue was due to wrong OpenCV version.

[2017-07-25 05:49] #737 closed

[2017-07-25 06:01] claretway opened #744 "/usr/bin/ld error when building"
After running `catkin_make -j8` on my machine (Ubuntu 14.04, ROS Indigo), I can't get any further than this. I have OpenNI installed, and `libDummyDevice.so, libOniFile.so`, and `libPS1080.so` are all in `/usr/lib/OpenNI2/Drivers` but for some reason it's not finding them when I build.

[code]

[2017-07-25 06:29] dejanpan commented on #744
this is something I promised to do for every package but didn't do yet.
Run this command before catkin_make:
https://github.com/CPFL/Autoware/blob/master/ros/catkin_make_release#L15

[2017-07-25 08:23] amc-nu opened #745 "Feature: New Ground Filter"
In order to improve obstacle detection a new ground filter was added.
Filtering is based on the calculation of the expected distance from sensor to ground on each laser beam and ring.
Sensor height is required.

[2017-07-25 09:11] iulialexandra commented on #681
Hi, I have the same problem, could you please tell me what you did to load the map?

[2017-07-25 10:26] andoh104 commented on #722
I have made a pull request (https://github.com/CPFL/Autoware/pull/739) .

[2017-07-25 14:07] bobjohnson2040 commented on #719
@dejanpan @amc-nu Thanks guys!!

Do you know if a wide angle lens could be the cause of this? Are either of you using a wide angle lens?

[2017-07-25 17:16] dejanpan commented on #744
@claretway did you manage to fix it?

[2017-07-25 17:35] gsrujana commented on #681
Hi,

This happens when you don't have the rosbag simulation or any have incoming velodyne/nmss data. Once you start simulation it should work..

[2017-07-25 17:49] claretway commented on #744
@dejanpan Yeah, thanks! It was odd because I've been running that exact script on my local copy and it was failing before. I cloned a fresh one however and it finally worked.

[2017-07-25 18:31] sarahisyoung commented on #705
How would I run it on kinetic?

[2017-07-26 07:14] robotvin opened #747 "Yolo crashing during runtime"
Hi
I have recently installed the yolo node.. and installed successfully..
During runtime it is crashing with Code 11 error... (memory leak)

When i debugged the code... I found it crashing at following line.
line no 100 in yolo2.cpp - float *prediction = network_predict(darknet_network_, in_data);

and one more i have observed the following function has been called with 12 arguments but it require

[2017-07-26 23:37] amc-nu commented on #747
Regarding that error
I believe you're using a different version of Yolo2
Make sure to follow the README from the node.
Recently the Yolo author updated the API

[2017-07-28 11:14] aohsato opened #750 "Feature: obj_fusion 'use_vmap' mode"
Added 'use_vmap' mode, estimating detected object poses with vector_map.
The rotation is changed to the closest to the direction of the lane among 0, 90, 180, and 270 degrees.
It seems to be useful for Lidar-tracking algorithm.

[2017-07-28 11:14] aohsato commented on #750
#749

[2017-07-31 04:51] dejanpan opened #752 "Create Pull Request and Issue template, add section for development workflow."
As discussed with @shinpei0208 and the rest we would like to have more informative issues and pull requests. In addition we will in README.md add instructions on how the development workflow in autoware is.

[2017-08-01 02:21] #752 closed

[2017-08-01 02:22] dejanpan commented on #743
@bobjohnson2040: would you like to help too?

[2017-08-01 23:22] yk-fujii opened #755 "Release v.1.4.0"
We will release Autoware v.1.4.0.
----
## Target date: 4  Aug. 2017
Even if not all PRs are in time, we will release on this date, since the merger of #753 to the master takes precedence.
## Target issues and PRs
- [x] #733
- [x] #741
- [x] #742
- [x] #746
- [x] #748
- [x] #751
- [x] #753
- [x] #655
- [x] #749
- [x] #760
----

### Next releasing targets (v.1.5.0)
-  #727
-  #739
-  #754

[2017-08-01 23:44] yk-fujii opened #756 "Bug: tree searching function at planner"
# Bug
https://github.com/CPFL/Autoware/blob/bf694eb1dfd7656ca0889182d0ae783a1ceecdf7/ros/src/computing/planning/common/lib/openplanner/op_planner/src/PlanningHelpers.cpp#L1393-L1394
There was a tree search bug.

## Steps to Reproduce the Problem
  everytime when working on openplanner

[2017-08-01 23:46] #756 closed

[2017-08-01 23:50] dejanpan commented on #755
@yk-fujii what do you think of a release wiki page?

It could be as simple as this one: https://github.com/ros2/ros2/wiki/Releases.

For every release we can have three categories:
- New Features
- Demos/Documentation
- Known Issues

[2017-08-02 00:23] yk-fujii commented on #755
Is there any benefit to having it prepared separately from the release page?
If there is, I think that adoption is good.
https://github.com/CPFL/Autoware/releases

Also, categorizing is good for easily understand release.

[2017-08-02 00:32] dejanpan commented on #755
Ahh never mind, didn't notice: https://github.com/CPFL/Autoware/releases. great job.

Maybe yeah, just to add those 3 categories.

[2017-08-03 00:20] dejanpan opened #758 "Test Gazebo 7.0 and integrate Gazebo 8.0"
Integration of Gazebo 8.0.0
ROS kinetic uses Gazebo 7.x.x series. There have been significant advances in Gazebo 8.0 and OSRF also has a car simulation:

- https://www.osrfoundation.org/simulated-car-demo/
- https://discourse.ros.org/t/gazebo8-ros-lunar-wrappers-available/2328

@sumanth-nirmal will work on this.

[2017-08-03 00:39] dejanpan commented on #758
a) try out and document current state of gazebo integration in Autoware
b) port gazebo 8.0 to Autoware
c) prepare a demo in Gazebo 8.  We could do the same as here (https://github.com/osrf/car_demo) but have the car follow waypoints on that track?
d) document

[2017-08-03 00:52] dejanpan opened #759 "Release and create binary debian package autoware_msgs"
http://wiki.ros.org/bloom/Tutorials/FirstTimeRelease

Since there is lots packages I would like to start with the most frequently used ones: This is a list of necessary packages when we do a demo (localization, path following, and traffic light recognition):
- runtime_manager
- map_file
- model_publisher
- points_downsampler
- velodyne_pointcloud
- pointgrey
- ndt_localizer
- autoware_connector
-

[2017-08-03 04:42] robotvin commented on #747
Thanks for comments
I have installed the new version of yolo2. but still it is crashing. its not able to initialize the Darknet. Please can please suggest as i am not able to find the bugg.

[2017-08-03 07:10] robotvin commented on #747
I have attached screen shot of terminal. plz guide # @amc-nu
![screenshot_yolo](https://user-images.githubusercontent.com/30460374/28910105-f54e65e8-7848-11e7-9c9f-1aaee1b57348.png)

[2017-08-03 07:31] dejanpan commented on #747
@robotvin Can you also comment:
- which ubuntu version,
- which ROS version,
- which autoware version,
- how can we reproduce your error.

thx

[2017-08-03 07:50] robotvin commented on #747
which ubuntu version - 14.04
which ROS version - ROS INDIGO
which autoware version - downloaded 10 days back
how can we reproduce your error - you can run bag file with video data and run yolo2 detector

[2017-08-03 08:11] dejanpan commented on #747
Please provide exact git sha commit that you downloaded 10 days ago (git log command).

Please also provide short version of a bag file with which one you test and **exact** commands that you run yolo2 detector with.

[2017-08-03 08:23] dejanpan commented on #759
Released autoware_msg pkg today following these instructions: http://wiki.ros.org/bloom/Tutorials/FirstTimeRelease.

Steps:
1) I first needed to bring all versions in all package.xml files to the same version: 1.3.1
2) then I ran catkin_prepare_release which increases the version number, commits it and pushes it to the repo. VERY IMPORTANT. Used approximately this command ` find ./ -name package.x

[2017-08-03 08:25] dejanpan commented on #759
Couple of issues still remain:
a) why so many branches in release repo
b) how to do PR and test builds (every time we do a new PR)?

[2017-08-03 09:31] robotvin commented on #747
Thank you sir
I think its not the issue with the way i am running or launching yolo. But its clearly indicating memory access problem/allocation issue in yolo2.cpp. Its failing when in load function for darknet or in covert_image function.

[2017-08-03 14:02] dejanpan commented on #747
We are trying to reproduce and debug your problem. And we can't do that if
you don't provide exact steps for when the error happens.

On Thu, Aug 3, 2017, 2:31 AM robotvin <notifications@github.com> wrote:

[2017-08-04 03:17] dejanpan commented on #755
@yk-fujii could you maybe also include this PR: https://github.com/CPFL/Autoware/pull/760 in this release and then use this command to make a new release tag: http://wiki.ros.org/bloom/Tutorials/FirstTimeRelease#bloom.2BAC8-Tutorials.2BAC8-PrepareUpstream.Update_package.xml_Version?

[2017-08-04 03:30] dejanpan opened #761 "Ring Ground filter wrong segmentation"
Follow-up from PR #655:

I tried the code on this bag: http://db3.ertl.jp/autoware/sample_data/sample_moriyama_150324.tar.gz using these commands:
[code]
Then I added blue point cloud as ground and red point cloud as non ground. From the attached screenshot you will see that blue point reach densely up to 0.5m above the ground and some sparse blue points are also way above the ground. So I'd concl

[2017-08-04 07:37] #745 closed

[2017-08-04 07:38] #750 closed

[2017-08-04 07:48] yk-fujii commented on #755
Done.
Thanks for helping us!

[2017-08-04 07:48] #755 closed

[2017-08-04 07:53] yk-fujii opened #763 "Release v.1.5.0"
We will release Autoware v.1.5.0.
----
## Target date:  ~31 Aug. 2017~ 21 Sep. 2017
## Target issues and PRs
- [x] #727
- [x] #739
~[ ] #754~
- [x] #767  autoware_msgs does not depend on jsk_rviz_plugin, cmake and package.x… @dejanpan
- [x] #768 Fix/zero division @yukkysaito
- [x] #775 support Garmin GPS 18x LVC @kitsukawa
- [x] #778 Minor fixes for velocity_set @TomohitoAndo
- [x] #780 Feature/mu

[2017-08-05 13:07] therewillbecake opened #765 "Why does Autoware need root privileges?"
Hello,

I'm currently trying to find out why Autoware requests the root password when starting the runtime manager since I might not have root privileges on the computer on which I want to run Autoware.

I think I narrowed it down to the "proc_manager.py" script in /Autoware/ros/src/util/packages/runtime_manager/scripts/. It seems to open a socket to communicate with the runtime manager. When I ru

[2017-08-05 17:33] dejanpan commented on #765
@yk-fujii @kuriking @syohex maybe one of you could answer this? I was also wondering but never had time to look into the code.

[2017-08-05 22:28] dejanpan commented on #759
Release for autoware_msgs in kinetic complete: https://github.com/ros/rosdistro/pull/15705.

it will now take a while until the debian pkg becomes available.

[2017-08-05 22:28] #759 closed

[2017-08-05 22:59] dejanpan opened #766 "Release further pkgs into ROS buildfarm"
Couple of more things to consider:
- pkg names (there are other pkgs in ROS with the same name, e.g. velodyne_msgs)
- update maintainers in package.xml, also add Dejan everywhere
- find which pkgs to release
- group all pkgs under autoware namespace, see: http://wiki.ros.org/geometry?distro=lunar
- disable building of all other pkgs: https://github.com/ros/rosdistro/blob/master/kinetic/distributio

[2017-08-06 00:16] dejanpan commented on #766
Had to also first fix autoware_msgs: http://build.ros.org/job/Kbin_uX64__autoware_msgs__ubuntu_xenial_amd64__binary/1/
See example cmake and package.xml file: https://github.com/ros/common_msgs/tree/jade-devel/stereo_msgs

[2017-08-06 00:22] yukkysaito commented on #765
@therewillbecake @dejanpan Because it is necessary for real-time processing. For example, to change the priority of the process (ROS node) and scheduling algorithms. If you do not process in real time, it is not essential.

[2017-08-06 00:22] yukkysaito commented on #758
Great!

[2017-08-06 00:27] yukkysaito commented on #747
@robotvin What is the GPU you are using? I think that you need at least 4 GB of GPU memory size

[2017-08-06 00:27] dejanpan commented on #765
So are you changing `nice` values on the PID of ros nodes? Is there an example of that?
Is there any other reason?

[2017-08-06 00:28] yukkysaito commented on #734
Thank you for report. I'll change it

[2017-08-06 01:05] yukkysaito commented on #734
Fixed https://github.com/CPFL/Autoware/commit/6aab1a923ad8a143f1e467bd1076f56dcedc54d4

[2017-08-06 01:05] #734 closed

[2017-08-06 01:37] yk-fujii commented on #765
Autoware change the nice value and also change the process scheduling policy.
https://github.com/CPFL/Autoware/blob/master/ros/src/util/packages/runtime_manager/scripts/proc_manager.py#L102-L119
In addition, root may be necessary for the execution of the USB-UVC driver.

We should fix as Autoware ask for root privilege on each occasion (such as when the sys button is pressed).

[2017-08-06 01:41] dejanpan commented on #766
For ${catkin_EXPORTED_TARGETS}: http://wiki.ros.org/catkin/CMakeLists.txt#Important_Prerequisites.2BAC8-Constraints

[2017-08-06 01:53] zhangaigh opened #769 "What's the meaning of vector map files?"
Hello, Autoware:
First of all, thanks for sharing so amazing open source code.
I am working on autoware, specifically i am really interested in path planning based on vector maps. However, I am confused about what's the meaning of vector map files such as line.csv, lane.csv, etc. Are there more clear descriptions about them?

thank you in advanced!

[2017-08-08 00:38] dejanpan commented on #766
For pre-release jobs ():

* drop CATKIN_IGNORE files into all the other packages on your desired test branch

* pre-release website: http://prerelease.ros.org/kinetic

*
[code]

[2017-08-08 01:02] dejanpan commented on #769
These are road features such as lanes, signs, etc in  GIS (Global Information System).
@syouji do you have more documentation on vector maps?

[2017-08-08 06:09] dejanpan opened #771 "Duplicate pkg names in Autoware"
In Autoware there are couple of packages that have the same or similar name as released packages in ROS. I listed them below as pointer to ROS (original driver), Autoware driver and proposal how we should rename them.
Released package names in ROS must be unique. Can you please review and if you agree also go ahead and rename?

ROS: https://github.com/ros/filters
Autoware: https://github.com/CPFL/

[2017-08-08 06:16] dejanpan opened #772 "Clean up maintainers in package.xml files"
In Autoware there seems to be lots of packages whose maintainers are not updated anymore.
e.g. https://github.com/CPFL/Autoware/blob/master/ros/src/sensing/drivers/imu/packages/xsens/src/custom_msgs/package.xml#L8.

Could anyone from TierIV go through all package.xml files and update maintainers to current ones and if there isn't one I'd nominate @yk-fujii?

D.

[2017-08-08 06:43] dejanpan opened #773 "Qt5Core linking Issue"
There are several packages in Autoware that require Qt5Core library to link even though they do not use use Qt at all, e.g. https://github.com/CPFL/Autoware/blob/master/ros/src/sensing/filters/packages/points_preprocessor/CMakeLists.txt#L18.

The problem seems to be with the bug in PCL which brings in Qt: https://github.com/ros-perception/perception_pcl/pull/151.

I suggest to do the same fix. @am

[2017-08-08 06:46] dejanpan commented on #765
this explains it for me. I added the answer to FAQ (https://github.com/CPFL/Autoware/wiki/FAQ(EN)#why-does-autoware-need-root-privileges) and will close the issue if more explanation is needed.

[2017-08-08 06:46] #765 closed

[2017-08-08 06:52] SakataGintoki435 commented on #269
Is there any resolution to this? I am stuck on the same thing, with an ARM board.

[2017-08-08 14:19] pxlong commented on #401
@nmerrill67 have you tried to source the Autoware/ros/devel/setup.bash (or setup.zsh if you use zsh) in your .bashrc ?

[2017-08-09 12:08] pxlong commented on #471
@ZuoJiaxing @weisongwen I've successfully replicated the quick start demo today:
you can try to update PCL to the latest version (1.7.2) first,
` sudo add-apt-repository ppa:v-launchpad-jochen-sprickerhof-de/pcl
  sudo apt-get update
  sudo apt-get dist-upgrade`
then run ./catkin_make_release and follow the instructions in Autoware_QuickStart_v1.1.pdf

[2017-08-09 21:39] dejanpan commented on #773
Mikael,
I didn't know where to put this question so I am just shooting you an email but will also put it in the open if you wonna answer there: https://github.com/CPFL/Autoware/issues/773.

I am releasing Autoware pkgs as you know and I had the issue that a package failed on linking by not finding Qt5Core, e.g. https://github.com/CPFL/Autoware/blob/develop/ros/src/data/packages/map_file/CMakeLists

[2017-08-09 23:31] mikaelarguedas commented on #773
Hi @dejanpan ,

I think that fix was only necessary for Debian Stretch so didn't **need** to make it into kinetic. So assuming that you are testing on Ubuntu 16.04 and planning on releasing in kinetic you should not face that specific problem.

Yeah conceptually I like it too, but the solution ends up being pretty ugly just because of how these libraries have been packaged upstream... too bad.

Re

[2017-08-11 22:57] amc-nu opened #776 "Feature ParticleFilter based tracker"
# New Feature
Vscan based Rao-Blackwellized Particle Filter tracker adapted to work on Autoware

## Expected Result
https://drive.google.com/open?id=0BzYuVrO9pnh6VUhQd0N2TjBsM3c

## Documentation
Based on the work described in:
http://ieeexplore.ieee.org/document/7759043/

## Constraints
- Requires hdl-64 to work reliably
- Uses 2d scan to match between frames
- Can only track up to 5 objects in r

[2017-08-13 08:07] weisongwen commented on #471
Hi, @pxlong
Thanks for your reply and way to that issue.

Best regards

[2017-08-13 08:09] weisongwen commented on #471
Hi, @kitsukawa

I also handle the problem by reinstalling the ros with jade version.
the issue mentioned  may be result in what @pxlong  said above.

Best regards

[2017-08-17 01:46] supersampard commented on #311
I met same problem .
![59](https://user-images.githubusercontent.com/23619435/29392490-1ecf562a-8339-11e7-93a5-1d545196c952.PNG)

I followed the kitsukawa's comment. However, I did't work
![60](https://user-images.githubusercontent.com/23619435/29392523-5f671592-8339-11e7-8129-2d70b66c7b1c.PNG)
![61](https://user-images.githubusercontent.com/23619435/29392524-5f8da612-8339-11e7-8a4b-b0efa6139113.P

[2017-08-17 14:34] thomas3016 commented on #492
@nsakar Have you salve this problem

[2017-08-17 14:34] thomas3016 commented on #492
@nsakar Have you salve this problem

[2017-08-21 04:49] yk-fujii opened #779 "Feature multiple-crosswalk detection in velocity_set"
# New Feature
Multiple-crosswalk detection in velocity_set

## Expected Result
| Before | After |
| :----| :---- |
| ![selection_013](https://user-images.githubusercontent.com/1758804/29503988-44be0fe8-8677-11e7-8b53-248c360b45fd.png) |  ![selection_012](https://user-images.githubusercontent.com/1758804/29503986-42c44324-8677-11e7-9d9a-9f2589741a04.png)|

## Constraints
- There is the possibility

[2017-08-21 12:39] thomas3016 commented on #704
Anybody have get idea?

[2017-08-21 14:33] antiwong commented on #704
+1

[2017-08-23 08:32] yulpun opened #782 "Can't launch the Runtime Manager in ubuntu 14.04"
# Bug
## Expected Behavior
When I run the "./run" in the docker terminal, there was only one rosnode launched which named roscore,but I can't see the Runtime Manager window. Then I ran roscore in one terminal,
and run $ cd $HOME/Autoware/ros/; source devel/setup.bash; rosrun runtime_manager runtime_manager_dialog.py
in another terminal.

The error message:
_Traceback (most recent call last):
  Fil

[2017-08-23 11:26] amc-nu opened #783 "[Feature] ENet Deep Learning Based Segmentation Network"
# New Feature
This branch adds a new package and node. These enable Autoware to segment images acquired from the camera sensors using the work described in
* https://github.com/TimoSaemann/ENet
* https://arxiv.org/abs/1606.02147

A Video showing how it works can be found in the following link
https://drive.google.com/open?id=0BzYuVrO9pnh6MmNHVjJZSzZnUGc

[2017-08-25 07:30] dejanpan commented on #492
Use https://geographiclib.sourceforge.io/html/classGeographicLib_1_1Geocentric.html for llh to ECEF conversion. Then you can set one ECEF point as your origin and compute offset which will be your local cartesian coordinates.

[2017-08-25 07:34] dejanpan commented on #311
you do not build_depend snd run_depend on `but_velodyne` pkg.

[2017-08-26 00:45] #779 closed

[2017-08-26 07:08] dejanpan commented on #766
Complete release instructions:

1. Fix CMakeLists.txt and package.xml
Common issues (see https://github.com/CPFL/Autoware/pull/770/files for example):
- Install targets are not specified
- dependencies in find_package and catkin_package are missing (in CMakeLists.txt)
- dependencies are missing for build_depend and run_depend in package.xml
- some dependencies are superfluous, that is, you need to

[2017-08-26 07:11] dejanpan commented on #763
@yk-fujii can you run the following commands when you will be releasing such that we get consistent changelogs and version numbers
[code]

This is from here: http://wiki.ros.org/bloom/Tutorials/FirstTimeRelease#bloom.2BAC8-Tutorials.2BAC8-PrepareUpstream.Update_Changelogs.

[2017-08-28 07:46] amc-nu commented on #766
@dejanpan I'll take care of
* pointgrey
* points_downsampler
* lidar_detector
* velodyne_pointcloud

@kitsukawa can you please fix
* ndt_localizer

@TomohitoAndo could you check:
* astar_planner
* waypoint_maker
* lane_planner

@hatem-darweesh would you verify:
* way_planner
* dp_planner

@kuriking and @kondoh2 can you help with these ones?
runtime_manager
model_publisher
autoware_connector
road_w

[2017-08-29 08:46] #783 closed

[2017-08-29 08:51] #747 closed

[2017-08-29 17:30] amc-nu opened #785 "[Bug] KF Lidar tracker, Object ID duplicated"
# Bug  - KF Lidar tracker, Object ID duplicated
## Expected Behavior
Each object should have a unique ID and position

## Actual Behavior
In certain cases, several objects are merged into a single object, all of them having the same ID and position.

## Steps to Reproduce the Problem

  1. Execute the `kf_lidar_tracker` from the `lidar_tracker package`
  2. Launch `euclidean_clustering` and `svm_l

[2017-08-29 17:32] amc-nu opened #786 "[Bug] Ground filter launch file typo"
# Bug - Ground filter launch file typo
## Expected Behavior
Launch file should execute seamlessly the ground filter node

## Actual Behavior
It causes a crash

## Steps to Reproduce the Problem

  1. Execute ` roslaunch points_preprocessor ground_filter.launch` or launch from Runtime manager

  - Autoware branch: develop

[2017-08-29 17:43] #786 closed

[2017-08-29 17:43] #785 closed

[2017-08-29 17:46] amc-nu commented on #782
@yulpun
Did you compile the code?
If the message files are missing, it might mean that these haven't been created.
Try following the https://github.com/CPFL/Autoware#how-to-build section.
Hope this helps.

[2017-08-31 07:38] CodeIsWorld commented on #269
when i try to run this project in nvidia jetson TX2,I also meet this question.how to solve this problem?

[2017-09-01 09:55] robotvin commented on #747
sorry for late reply..as i was on vacation and away from my work....
I have GPU with 8GB memory. The issue is the yolo is working fine on following resolutions
640x480, 768x576 and 1280x960. But for 658x492 (which is my data) is crashing. Is there some guidelines for network-dimentions and video resolution. plz help...

[2017-09-02 02:27] andoh104 opened #789 "Build Error @develop branch"
# Bug
## Expected Behavior
No Error

## Actual Behavior
[code]

## Steps to Reproduce the Problem

  1.
`:~/Autoware/ros$ ./catkin_make_release
`

## Specifications

  - Ubuntu version : 14.4
  - ROS Version: indigo
  - Autoware branch: develop

[2017-09-02 02:38] andoh104 commented on #789
I think that this cause is as folows:

[code]

[2017-09-02 06:54] dejanpan commented on #789
yup, that is clearly a bug as we use velodyne_pointcloud headers. Can you add `velodyne_pointcloud` also to `run_depend` tag and submit a PR please?

[2017-09-02 07:04] andoh104 commented on #789
@dejanpan
I can make a PR. but I can't test the velodyne_compression .
So, I will make a PR, please test it.

[2017-09-02 08:31] dejanpan commented on #766
I did `model_publisher`, PR will follow.

[2017-09-02 09:02] dejanpan commented on #766
I did `autoware_connector`, PR will follow.

[2017-09-02 10:32] dejanpan commented on #766
did libvectormap

[2017-09-03 05:32] #789 closed

[2017-09-03 05:33] yk-fujii commented on #763
I will postpone this work a bit. . .

[2017-09-06 03:09] CodeIsWorld commented on #269
I send the problem to autoware@googlegroups.com,and I got the answer" "
`It is necessary to change CMakeFiles.txt of glviewer package.
Please refer to the URL below:
[https://github.com/CPFL/Autoware/blob/a0bbcad24f6b648380f63fbe8e9d76b9b2dc0798/ros/src/util/packages/RobotSDK/glviewer/CMakeLists.txt#L40](url)

Thanks.`

[2017-09-06 03:59] yk-fujii opened #792 "Support to aarch64"
# New Feature

Support to aarch64, and added installation manual for drivepx2

# Documentation
[installation with drivepx2](../blob/feature/aarch64/docs/en/installation_with_drivepx2.md)

[2017-09-06 17:55] maximus5684 opened #795 "VTK Not Found on Ubuntu 16.04 LTS"
Fill-out only one section depending on whether you are reporting a bug or a new feature.

# Bug
## Expected Behavior
CMake file for VTK in /usr/lib/cmake/vtk-6.2/VTKTargets.cmake points to /usr/bin/vtk. On systems with vtk6 installed, this does not exist.

## Actual Behavior
/usr/bin/vtk not found

## Steps to Reproduce the Problem

  1. Download Autoware.
  2. Initialize Catkin workspace.
  3. Ru

[2017-09-06 18:12] maximus5684 commented on #795
Related to this, the file /usr/lib/x86_64-linux-gnu/libvtkRenderingPythonTkWidgets.so is also not found but both of these appear to be vtk6-related bugs. The above fixes the vtk dependency but the libvtkRenderingPythonTkWidgets.so only seems to exist in /usr/lib/python2.7/dist-packages/vtk. Creating a symlink with the following does the trick for this one:

`sudo ln -s /usr/lib/python2.7/dist-pack

[2017-09-06 23:25] dejanpan commented on #795
@maximus5684 thx a lot. I am working on fixing Autoware packages ( https://github.com/CPFL/Autoware/issues/766)  so we can release them on the ROS build farm.

Do you expect this to get fixed with Ubuntu 16.04 updates?

On a related note, we have another issue with one of the pcl libraries which indirectly links in a whole swamp of VTK libraries: https://github.com/CPFL/Autoware/issues/773.
Concre

[2017-09-08 06:21] maximus5684 commented on #795
@dejanpan - According to the maintainer, both files referenced above which are called from VTKTargets.cmake are almost never required to be built against but they get pulled in from a monolithic CMake entry point (VTKTargets). Thus, he says, the warnings can be ignored. Here is the thread discussing this issue: https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=826048

Based on the above, I think y

[2017-09-10 08:13] aohsato opened #796 "[Build error] pointgrey/grasshopper3"
Build error - pointgrey/grasshopper3

# Bug
## Expected Behavior
No build error in an envronment that Flycapture SDK is installed.

## Actual Behavior
[code]

## Steps to Reproduce the Problem
[code]

## Specifications

  - Ubuntu version: 16.04 LTS
  - ROS Version: Kinetic
  - Flycapture SDK Version: 2.11.3
  - Autoware branch: develop

[2017-09-12 21:33] prarobo commented on #627
I am having the same problem with understanding vector maps. Can someone give an explanation for the fields in dtlane.csv?

The fields in the file are
DID | Dist | PID | Dir | Apara | r | slope | cant | LW | RW

Thanks.

[2017-09-12 21:57] prarobo opened #798 "Understanding Pure Pursuit Planner outputs"
I am trying to understand the implementation of pure pursuit planner. I do not understand the relevance of some of the topics it is publishing. I am mainly looking at the following topics.
[code]
**Since the ```/ctrl_cmd``` topic provides a linear velocity and steering angle, how are the linear and angular velocity values coming from the ```/twist_raw``` being used?**

I was able to follow the dat

[2017-09-13 07:04] #796 closed

[2017-09-18 13:35] histfuture opened #801 "Can not build by docker"
I use the provided doceker file to build a docker image. But an errors occurs as follows:
''
 -- Could not find the required component 'gazebo_ros_control'. The following CMake error indicates that you either need to install the package with the same name or change your environment so that it can be found.0
''

I thought the Dockerfile do not contain all required dependencies for autowares.

## Sp

[2017-09-19 01:55] #792 closed

[2017-09-19 13:57] Shuo-Xiong opened #802 "Build Error"
[ 13%] Built target g2o
[ 13%] Built target pcd_filter
Linking CXX executable /home/allen/Autoware/ros/devel/lib/object_map/laserscan2costmap
[ 13%] Built target laserscan2costmap
Linking CXX executable /home/allen/Autoware/ros/devel/lib/object_map/points2costmap
[ 13%] Built target points2costmap
Linking CXX static library /home/allen/Autoware/ros/devel/lib/liborb_slam2.a
[ 13%] Built target orb_

[2017-09-19 23:42] 95136MarkDouglas opened #803 "failed build on NXP ARMv8 SoC with Linux + Ubuntu 16.04 LTS Root File System"
CMake Error at /media/sata1/Autoware/Autoware/ros/devel/share/glviewer/cmake/glviewerConfig.cmake:141 (message):
  Project 'calibration_camera_lidar' tried to find library 'glviewer'.  The
  library is neither a target nor built/installed properly.  Did you compile
  project 'glviewer'? Did you find_package() it before the subdirectory
  containing its code is included?
# Bug
## Expected Behavior

[2017-09-20 00:31] yk-fujii commented on #802
Thanks for the report.
Could you send the build log in full text?
The error log is not included.

[2017-09-20 00:34] yk-fujii commented on #803
The Master branch does not support to aarch64 yet.
Please use the develop branch or edit as follows.

https://github.com/CPFL/Autoware/blob/develop/ros/src/util/packages/RobotSDK/glviewer/CMakeLists.txt#L40

[2017-09-20 01:14] yk-fujii commented on #763
We will release it on September 21.

[2017-09-20 01:48] Shuo-Xiong commented on #802
Thanks for the reply.
i updated the cmakeerror.log file, is the log file you want? or you need the contents in terminal windows?

[2017-09-20 01:50] Shuo-Xiong commented on #802
Thanks for the reply.
i updated the cmakeerror.log file, is the log file you want? or you need the contents in terminal windows?

Determining if the pthread_create exist failed with the following output:
Change Dir: /home/allen/Autoware/ros/build/CMakeFiles/CMakeTmp

Run Build Command:/usr/bin/make "cmTryCompileExec422379412/fast"
/usr/bin/make -f CMakeFiles/cmTryCompileExec422379412.dir/build.mak

[2017-09-20 01:53] Shuo-Xiong commented on #802
Thanks a lot for the reply.?
you need the cmakeerror.log file in Autoware/ros/build folder or the build log in terminal windows?

[2017-09-20 01:55] Shuo-Xiong commented on #802
CMakeFiles/dist_transform.dir/nodes/dist_transform/dist_transform.cpp.o: In function `distanceTransform':
/home/allen/Autoware/ros/src/computing/perception/semantics/packages/object_map/nodes/dist_transform/dist_transform.cpp:57: undefined reference to `cv::distanceTransform(cv::_InputArray const&, cv::_OutputArray const&, int, int, int)'
collect2: error: ld returned 1 exit status
make[2]: *** [/h

[2017-09-20 01:56] Shuo-Xiong commented on #802
Thanks a lot for the reply.
the text above is the error log in terminal

[2017-09-20 05:24] Fancy93 commented on #802
I have the same issues with you,Can you tell me how you solved ?

[2017-09-20 06:16] yk-fujii commented on #802
Have you installed OpenCV?

The entity of cv :: distanceTransform is in libopencv_imgproc.so,
but it looks be not linked in your environment.

In addition, I was not reproduced this error in my environment(ubuntu 14.04/indigo).
However, since this package indirectly links OpenCV,  it may be bad depending on the os/ros/opencv version.
I will fix a package to directly link OpenCV.

If you are in a h

[2017-09-20 07:49] Shuo-Xiong commented on #802
Thanks a lot!
I have installed the OpenCV3.0
I solved the problem now
I removed the OpenCV3.0 and installed OpenCV2.4.13
also installed some dependencies below

sudo apt-get install build-essential libgtk2.0-dev libjpeg-dev libtiff4-dev libjasper-dev libopenexr-dev cmake python-dev python-numpy python-tk libtbb-dev libeigen2-dev yasm libfaac-dev libopencore-amrnb-dev libopencore-amrwb-dev libtheor

[2017-09-21 05:02] yk-fujii opened #807 "[WIP][Feature] Decision maker"
## Decision Maker(WIP)
 Decision Maker recognize the current vehicle condition and decide the control strategy.

![b](https://user-images.githubusercontent.com/1758804/30679566-570ec810-9ed5-11e7-81d7-7150ce935019.gif)

[2017-09-21 05:50] #807 closed

[2017-09-21 06:40] #763 closed

[2017-09-21 07:13] 130s opened #810 "Generic mailing list should never be a maintainer"
Starting on Aug. 5th, mailing list subscribers have been receiving [notifications ROS buildfarm](https://groups.google.com/forum/#!topic/autoware/ApixQTtEUcQ). This is a sign that something is wrong and usually maintainers are asked to look into the issue.

#[Looks like](http://repositories.ros.org/status_page/ros_kinetic_default.html?q=autoware) only source build has been successful.

And, for on

[2017-09-21 07:18] dejanpan commented on #810
Ack. Will fix by disabling build on PRs. The problem is that this project
has 90+ projects and I can not release all of them at once.

On Thu, Sep 21, 2017, 8:13 AM Isaac I.Y. Saito <notifications@github.com>
wrote:

[2017-09-21 07:21] 130s commented on #810
I hear you.
Hope you'll have plenty of help at ROSCon :)

[2017-09-21 13:09] andoh104 commented on #722
It has been merged into the master branch.

[2017-09-21 13:09] #722 closed

[2017-09-22 04:00] Fancy93 opened #812 "./catkin_make_release Error"
Fill-out only one section depending on whether you are reporting a bug or a new feature.

# Bug
[ 12%] Generating Python msg __init__.py for orb_localizer
[ 12%] Built target orb_localizer_generate_messages_py
Scanning dependencies of target orb_vocabulary
In file included from /home/pan/Autoware/ros/src/computing/perception/localization/packages/orb_localizer/include/LocalMapping.h:26:0,

[2017-09-22 05:09] sujiwo commented on #812
Sorry @Fancy93 , I couldn't reproduce error regarding to orb_localizer node. Are you sure it is in latest version of the branch? Could you please try this command:
`catkin_make --pkg orb_localizer`

[2017-09-24 22:12] andoh104 opened #815 "Build Error @1.5.0"
# Bug
## Expected Behavior
No Error

## Actual Behavior
[code]

## Steps to Reproduce the Problem

`XXX:~/Autoware/ros$ ./catkin_make_release`

## Specifications

  - Ubuntu version:14.04
  - ROS Version:Indigo
  - Autoware branch:1.5.0 & master

[2017-09-24 22:30] andoh104 commented on #815
I think this cause is as follows:
[code]
But after fixing this error, other errors still remain on the branch.

[2017-09-25 02:08] yk-fujii commented on #815
Thanks for the your report!
I will fix other issues together in 1.5.1 today.

[2017-09-25 02:58] #802 closed

[2017-09-25 02:59] yk-fujii commented on #802
Great！thanks!

[2017-09-26 06:09] bholdmanny commented on #679
@hriapatil Hello, have you solved the error 1.
nvcc fatal : Stray '"' character
CMake Error at rbsspfvehicletracker_generated_rbsspfvehicletracker.cu.o.Release.cmake:222 (message):
Error generating /home/apatil/Autoware/ros/build/computing/perception/detection/packages/lidar_tracker/CMakeFiles/rbsspfvehicletracker.dir/nodes/vscan_lidar_track/./rbsspfvehicletracker_generated_rbsspfvehicletracker.cu

[2017-09-26 07:15] nangong commented on #627
@prarobo Have u already found out the meaning?

[2017-09-26 07:21] histfuture opened #818 "What is the meaning of DTLane?"
Hey guys, what is the meaning of dtlane?

[2017-09-26 09:01] hatem-darweesh commented on #818
it represents waypoints (trajectory) of the lane center (half the distance between left and right white lines)

[2017-09-26 09:06] histfuture commented on #818
@hatem-darweesh  thanks and  what is "Dist" stand for in dtlane?

[2017-09-26 09:26] xtycoon opened #819 "Ref in point.csv"
Can someone tell me what is the "ref" column means in point.csv(sample data of moriyama)?

[2017-09-26 10:51] Fancy93 commented on #812
hi,@sujiwo  it was also failed,I compiled the g2o successfully,but the orb_localizer package cannot be compiled when I use the command  catkin_make --pkg orb_localizer or ./catkin_make_release .

[2017-09-26 11:33] Fancy93 commented on #705
@ebeowulf Does  kitti_player  can  be used in indigo?

[2017-09-26 13:36] amc-nu commented on #705
When using the launch file make sure you’re in a sourced terminal before executing the command.

After compiling Autoware successfully, while on the `Autoware/ros` directory execute:
`$source devel/setup.bash`
Then execute the roslaunch command as specified in the README.

[2017-09-26 13:45] prarobo commented on #627
@histfuture No I do not know the meaning of those parameters.

[2017-09-26 13:47] #815 closed

[2017-09-27 07:45] aztinki commented on #705
@amc-nu I am trying to use the kitti datasets and I am not sure how to proceed after launching the kitti player as described in the readme file. Could you describe the next steps?
Also, I go this when I launched the kitti player
[ERROR] [1506440991.917541813]: Error reading CAMERA02/CAMERA03 calibration
[ERROR] [1506440991.926335961]: Error reading CAMERA00/CAMERA01 calibration
[kitti_box_publishe

[2017-09-27 08:09] histfuture opened #820 "Unreachable code in lane_rule.cpp"
Hi, I found a piece of strange code in lane_rule.cpp as the following shows:

line 123 - line 142
[code]

[2017-09-27 08:57] amc-nu commented on #705
@aztinki Looks like it's working correctly. Only Camera00 calibration is being used by Autoware, you can safely ignore the calibration related errors.
Did you try to display in RViz or echo the published data (Step 5).
https://github.com/CPFL/Autoware/tree/master/ros/src/util/packages/kitti_pkg

If you still cannot see anything, the data provided is not enough to help you solve the problem. Enable

[2017-09-27 09:22] aztinki commented on #705
I did echo it and got various data.. But I did not visualize using Rviz. I wanted to run the Autoware software, and I don't know how to use the kitti player to get the simulation you have shown in the image. How do i get the published topics from the kitti player to feed the runtime manager?

[2017-09-27 09:43] aztinki commented on #705
I suppose, I bag the topics and use it to simulate?

[2017-09-27 10:18] amc-nu commented on #705
If you can echo the data it means it’s working. just add it to Rviz.
For pointcloud follow the instructions from here
https://answers.ros.org/question/49744/how-to-visualize-point-cloud/

For image data
http://wiki.ros.org/rviz/DisplayTypes/Camera

And then you’ll see the data just like the screen I shared above.

[2017-09-29 07:13] liuyanliangm opened #821 "Don't have a Spec Recommendation PC"
My PC only has 4 cores CPU  and 16GB RAM ,is there any possilble that  this repo could run on my PC ?

[2017-10-01 01:11] andoh104 commented on #801
I think that this problem was fixed in the master branch.
https://github.com/CPFL/Autoware/pull/800

I tested the master branch and it was OK.

[2017-10-01 02:28] aohsato opened #823 "[Feature] log_tools/autologger"
# New Feature
This branch provides the new package, AutoLogger, that enables recording and multi-thread uploading rosbag automatically. It is an important function, especially in experiments in a real world.

## Specifications
  - Python library: Flask

[2017-10-02 07:11] amc-nu opened #825 "[Feature] Ray based ground filter"
# New Feature
To Provide a ground filter that doesn't require ring info (since it is not always available).

## Expected Result
VLP-16: https://drive.google.com/open?id=0BzYuVrO9pnh6SHdXRHFpSDNUVDA
HDL-32: https://drive.google.com/open?id=0BzYuVrO9pnh6MURaSlRZMFJzR3c
HDL-64: https://drive.google.com/open?id=0BzYuVrO9pnh6T0lsQ1lfaC0xRGs
In the videos the color
Red: Represents points classified as *

[2017-10-02 11:13] amc-nu commented on #825
Also tested on
* Ubuntu 16.04
* ROS Version: Kinetic 1.12.7

[2017-10-03 05:45] amc-nu commented on #821
Please check the [README](https://github.com/CPFL/Autoware#spec-recommendation)  for the recommended specs.
It will run in your environment, but don't expect all the features to work simultaneously.

[2017-10-03 05:45] #821 closed

[2017-10-03 05:50] #801 closed

[2017-10-03 07:49] aohsato opened #827 "[Feature] Add ground_filter config"
# New feature
The ground_filter #655 is effective, but have no configuration of runtime_manager. It's needed for easier operation.

![screenshot from 2017-10-03 16-28-23](https://user-images.githubusercontent.com/1531482/31114920-3b445804-a85b-11e7-9417-1121b1f38e23.png)

[2017-10-03 09:29] #827 closed

[2017-10-03 20:52] JWhitleyWork opened #829 "Fail to Load PCD Files when Path Contains Spaces"
Fill-out only one section depending on whether you are reporting a bug or a new feature.

# Bug
## Expected Behavior
Map tab in Runtime Manager would load multiple PCD files.

## Actual Behavior
If path of any PCD files contains a space, the loader fails to load them.

## Steps to Reproduce the Problem

  1. Create folder with space in the name.
  2. Save PCD files to this folder.
  3. Try to load

[2017-10-06 03:20] 130s commented on #810
@amc-nu This seems to be your email address that needs fixed. Any extra cycle to spare on this (should be quick fix)?

[2017-10-06 08:19] #825 closed

[2017-10-09 02:14] dejanpan commented on #810
@130s I also fixed mail address for the maintainer. Thx for bringing this up.

[2017-10-09 04:26] #810 closed

[2017-10-10 08:25] aztinki commented on #705
@amc-nu thank you very much! I am able to visualize as well as run object detection on Kitti datasets.

[2017-10-10 08:36] amc-nu commented on #705
Great!

[2017-10-10 08:36] #705 closed

[2017-10-12 16:57] amc-nu opened #836 "[feature] Added New Car Model"
# New Feature
Adds a new car model in three different colors

## How to test

1. In a sourced terminal execute
a. `roslaunch model_publisher estima_model_white.launch`
b. `roslaunch model_publisher estima_model_gray.launch`
c. `roslaunch model_publisher estima_model_black.launch`
2. Launch RViz
3. Change fixed frame to `base_link`
4. Add Topic -> RobotModel

The robot Model should be visible
White

[2017-10-17 08:03] rongliu1996 opened #840 "Cannot Launch node of Type [kitti_player/kitti_player], can't locate node [kitti_player]..."
roslaunch kitti_launch kittiplayer.launch failed with error: Cannot Launch node of Type [kitti_player/kitti_player], can't locate node [kitti_player] in package [kitti_player].  Understand that it is the same issue as the original question in issue #705 but keen to know if ROS Kinetic is the cause of this issue and how to resolve it.  Many thanks in advance!

## Reproducing steps
  1.  followed in

[2017-10-18 06:45] #836 closed

[2017-10-18 06:56] aohsato opened #841 "[Feature] points_preprocessor/points_concat_filter"
# New Feature
To provide simple fusion filter merging two lidars by message_filters Approximate Time Policy.
http://wiki.ros.org/message_filters/ApproximateTime

| Front/Rear Pointcloud (XYZIR) | Fused Pointcloud (XYZI) |
|-------------------------------|-------------------------|
| ![screenshot from 2017-10-18 16-00-19](https://user-images.githubusercontent.com/1531482/31704702-7d260b46-b41d-11e7

[2017-10-18 10:35] messi49 opened #843 "[Feature] feature/remote_monitor"
# New Feature
Add remote monitor and control function.

![remote_monitor_console](https://user-images.githubusercontent.com/2592546/31714017-35d05b02-b43b-11e7-90c8-b32c4f33e333.png)

[2017-10-18 13:48] aohsato opened #845 "[Bug] HDL-64e: Unable to open calibration file"
I cannot run Velodyne HDL64e-S2 driver due to the incorrect calibration file.

# Bug
## Expected Behavior
No error occurs and a correct pointcloud is published.

## Actual Behavior
[code]

## Steps to Reproduce the Problem

  1. Select the calibration file installed in Autoware.
[code]
 1. Run Sensing / Velodyne HDL-64e-S2

![screenshot from 2017-10-18 22-38-29](https://user-images.githubuserconte

[2017-10-18 16:16] Hierom commented on #812
Have same problem now.

[2017-10-18 17:29] Hierom commented on #812
Hello, @sujiwo
I have a problem happened while orb_slam2.
I used 14.04 + opencv 3.3, and run the
`catkin_make --pkg orb_localizer` too,
but not it has an error like this.
`
[ 87%] Built target pangolin
[ 87%] Built target orb_vocabulary
[ 87%] Built target orb_localizer_generate_messages_eus
make: *** [all] Error 2
Invoking "make -j4 -l4" failed
`

Could you please help me for fix this?
Thanks a l

[2017-10-19 03:29] Hierom opened #847 "catkin_make --pkg orb_localizer error"
Hi @sujiwo,

While I can't build up from `./catkin_make_release` (can't build orb_slam2),
I saw some issues that you tell us can `catkin_make --pkg orb_localizer error` first.

But now, it still has an involking error.
`[ 87%] Built target pangolin
[ 87%] Built target orb_vocabulary
[ 87%] Built target orb_localizer_generate_messages_eus
make: *** [all] Error 2
Invoking "make -j4 -l4" failed`

Can

[2017-10-19 03:37] sujiwo commented on #847
There are still some problems when compiling OpenCV 3.x. I'm still
investigating.

2017-10-19 12:29 GMT+09:00 Jerome <notifications@github.com>:

[2017-10-19 04:21] Hierom commented on #847
Okay, then which version is the best you suggest?

Thanks for telling me this.

[2017-10-19 04:26] sujiwo commented on #847
For ubuntu 14.04, it's best to stick with stock OpenCV 2.4.8 from
distribution.

2017-10-19 13:21 GMT+09:00 Jerome <notifications@github.com>:

[2017-10-19 04:31] Hierom commented on #847
But I used OpenCV 2.4.9 and failed in same problem.
Should I use above 2.4.10?

[2017-10-20 07:03] dejanpan commented on #840
@rongliu1996 yes, this node only gets compiled in indigo and jade versions: https://github.com/CPFL/Autoware/blob/master/ros/src/util/packages/kitti_pkg/kitti_player/CMakeLists.txt#L9

@amc-nu do you know, is there a reason for not that kitti_player would not compile on kinetic?

[2017-10-20 07:09] amc-nu commented on #840
@dejanpan I think it should work fine in Kinect. I’m not sure why it wasn’t included. @y-fujii do you know the reason?

[2017-10-20 07:09] dejanpan commented on #836
@amc-nu wheels are not moving yet:)

[2017-10-20 07:12] dejanpan commented on #843
@messi49 is this supposed to control the car from e.g. your office while the car is on the road?

[2017-10-20 07:19] dejanpan commented on #845
@aohsato just out of curiosity - is this happening because Velodyne updated their calibration files or why?

[2017-10-20 07:21] yk-fujii commented on #840
Previously, kitti could not be compiled with kinetic.
It was resolved by the PR #653.
however, we forgot to delete the if sentence, and It has been neglected until now.

https://github.com/CPFL/Autoware/pull/653

[2017-10-20 07:30] amc-nu commented on #840
@yk-fujii thanks!
Checking further this node wasn’t updated to the new autoware_msgs. This would also be required.

[2017-10-20 07:32] dejanpan commented on #847
@Hierom is this Ubuntu 16.04? develop branch? ROS kinetic?

[2017-10-22 09:33] rongliu1996 commented on #840
Many thanks everybody.  Would you please advise an ETA for the new release?

[2017-10-23 12:46] amc-nu commented on #845
@aohsato @dejanpan I also have the same problem on Indigo.
To test, I cloned the original repo [ros-drivers/velodyne](https://github.com/ros-drivers/velodyne/tree/master)
I was able to decode the velodyne_packets using the `64e_utexas.yaml` using the following launch file
[code]
However, the same launch file will lead to a parsing error. Checking the code in Autoware, seems it was forked some time

[2017-10-23 14:38] Hierom commented on #847
@dejanpan, no, it's Ubuntu 14.04 with ROS indigo.
I still not test in OpenCV 2.4.10 yet, will report here after I test it.

Thanks all!

[2017-10-23 17:26] sirjamesgray opened #849 "Make YouTube Playlist of all videos for readme.md"
To make it easier for people to explore the software rapidly, please put all the videos together into a YT playlist & link it above the thumbnails of the videos in the readme.md file.

Also, each YouTube video could contain a link to specific sections of the documentation in the description.

[2017-10-24 02:31] cvcore opened #850 "error: XDG_RUNTIME_DIR not set in the environment while using docker"
I followed the instruction in `docker/README.md` to install the Autoware docker image. However after the installation, `sh run.sh` complains about `error: XDG_RUNTIME_DIR not set in the environment.` and the docker image failed to start.

Original output:
[code]
My desktop setup is lightdm + i3wm on Archlinux, with environment variables correctly setup as (echoing $DISPLAY gives me):
`DISPLAY=:0`

[2017-10-25 02:22] amc-nu opened #851 "[Feature] Updates to Pointgrey package/Ladybug node"
# New Feature
* Changed the naming of the nodes and package according to #771
* Ladybug node now publishes RAW data instead of RGB to save bandwith
* Ladybug node now scales by default the image to 20% of original size (to improve performance and reduce bag file size)
* Added FindXercesC for Indigo on CMake versions lower than 3.1.3

## How to test

To launch the nodes instead of executing
### BEF

[2017-10-25 03:01] amc-nu opened #853 "[Bug] NDT_Localizer CMake error when CUDA is not installed"
# Bug
Cannot compile `ndt_localizer` without CUDA installed on `develop` branch.

## Steps to Reproduce the Problem
In a system with no GPU or CUDA not installed.
  1. ./catkin_make release

[code]

## Specifications

  - Ubuntu version: 16.04
  - ROS Version: 1.12.7
  - Autoware branch: **develop**

## Analysis
ndt_gpu library checks if CUDA is installed on:
https://github.com/CPFL/Autoware/blob/

[2017-10-25 04:41] kitsukawa commented on #853
@amc-nu Thank you for your report and suggestion. I fixed this as you suggested in #854 . Can you check?

[2017-10-25 05:31] weisongwen commented on #853
@kitsukawa

[2017-10-25 05:31] weisongwen commented on #853
@kitsukawa
Hi,  I encountered an error when I compile the newest Autoware version (develop branch) as following. But I have already install the GPU as I do the deep learning before.

# Bug
**/home/wenws/Autoware-develop/ros/src/computing/perception/localization/packages/ndt_localizer/nodes/ndt_matching/ndt_matching.cpp:117:8: error: ‘gpu’ does not name a type
 static gpu::GNormalDistributionsTrans

[2017-10-25 13:38] Hierom commented on #847
Dear @sujiwo and @dejanpan,
thanks for helping me to solve this issue.

For now, I use OpenCV 2.4.13, ROS indigo.
But while I recloned this repo and followed the How to Build way.
It still stopped while Building target orb_slam2 with just returned these in my terminal.

`**Linking CXX static library /home/chienrong/Github/Autoware/ros/devel/lib/liborb_slam2.a**
[ 12%] Built target orb_slam2
make:

[2017-10-26 01:27] sujiwo commented on #847
Can you please give me full output of the catkin_make? like:

catkin_make --pkg orb_localizer > compile_out.log 2>&1

2017-10-25 22:38 GMT+09:00 Jerome <notifications@github.com>:

[2017-10-26 02:02] Hierom commented on #847
Hi @sujiwo thanks for helping me.

The following is output in log file.

-- Using CATKIN_DEVEL_PREFIX: /home/chienrong/Github/Autoware/ros/devel
-- Using CMAKE_PREFIX_PATH: /opt/ros/indigo
-- This workspace overlays: /opt/ros/indigo
-- Using PYTHON_EXECUTABLE: /home/chienrong/miniconda3/bin/python
-- Using Debian Python package layout
-- Using empy: /usr/bin/empy
-- Using CATKIN_ENABLE_TESTING: ON

[2017-10-26 02:14] sujiwo commented on #847
It looks like catkin was unable to find OpenCV library; did you install it
in non-standard path? If so, try adding it in CMAKE_PREFIX_PATH environment
variable.
For example, if OpenCV is in /usr/local/opencv2

export CMAKE_PREFIX_PATH=/usr/local/opencv2:$CMAKE_PREFIX_PATH
catkin_make --pkg orb_localizer

2017-10-26 11:02 GMT+09:00 Jerome <notifications@github.com>:

[2017-10-26 02:33] Hierom commented on #847
@sujiwo  Many thanks! I change my CMAKE_PREFIX_PATH to /use/local/include/opencv2
And the following was output in log.

[  0%] Built target DBoW2
[ 25%] Built target pangolin
Linking CXX executable /home/chienrong/Github/Autoware/ros/devel/lib/orb_localizer/imgprocx
[ 62%] Built target g2o
[ 62%] Built target std_msgs_generate_messages_py
[ 62%] Built target std_msgs_generate_messages_cpp
[ 62%] B

[2017-10-26 02:58] sujiwo commented on #847
Try set CMAKE_PREFIX_PATH to /usr/local
And sorry, trying catkin_make several times won't fix problem.

2017-10-26 11:33 GMT+09:00 Jerome <notifications@github.com>:

[2017-10-26 03:03] Hierom commented on #847
@sujiwo I changed my PATH as you said to /usr/local.

But still stopped at the same place.

[  0%] Built target DBoW2
[ 25%] Built target pangolin
Linking CXX executable /home/chienrong/Github/Autoware/ros/devel/lib/orb_localizer/imgprocx
[ 62%] Built target g2o
[ 62%] Built target std_msgs_generate_messages_py
[ 62%] Built target std_msgs_generate_messages_cpp
[ 62%] Built target std_msgs_generat

[2017-10-26 03:08] sujiwo commented on #847
May I see output of this command ?

locate libopencv_core.so

2017-10-26 12:03 GMT+09:00 Jerome <notifications@github.com>:

[2017-10-26 03:08] sujiwo commented on #847
And this one:

locate libopencv_highgui.so

2017-10-26 12:08 GMT+09:00 Adi Sujiwo <sujiwo@gmail.com>:

[2017-10-26 03:10] Hierom commented on #847
@sujiwo
Here it is,
chienrong@chienrong:~/Github/Autoware/ros$ locate libopencv_core.so
/home/chienrong/miniconda3/envs/carnd-term1/lib/libopencv_core.so
/home/chienrong/miniconda3/envs/carnd-term1/lib/libopencv_core.so.3.1
/home/chienrong/miniconda3/envs/carnd-term1/lib/libopencv_core.so.3.1.0
/home/chienrong/miniconda3/lib/libopencv_core.so
/home/chienrong/miniconda3/lib/libopencv_core.so.3.1
/h

[2017-10-26 03:12] Hierom commented on #847
Does it mean I set the wrong PATH?
It should be /usr/local/lib?

[2017-10-26 03:54] sujiwo commented on #847
Let's keep using /usr/local as CMAKE_PREFIX_PATH.
Could you send me the file:

build/orb_localizer/CMakeFiles/imgprocx.dir/link.txt

should be under the directory in which you ran catkin_make

[2017-10-26 05:31] asimay opened #855 "px2 installation script bug."
Fill-out only one section depending on whether you are reporting a bug or a new feature.

# Bug
in PX2 setup instructions, the step:` git checkout -b aarch64 origin/feature/aarch64`

nvidia@nvidia:~/Autoware$ git checkout -b aarch64 origin/feature/aarch64
fatal: Cannot update paths and switch to branch 'aarch64' at the same time.
Did you intend to checkout 'origin/feature/aarch64' which can not be

[2017-10-26 06:39] yk-fujii commented on #855
Ah, I forgot to fix script;(
The feature/aarch64 branch have already merged to master.
Please ignore it line and compile with master branch.

[2017-10-26 06:45] jinfagang opened #856 "Syntax Warning in cmake code at column 78 Argument not separated from preceding token by whitespace."
Follow setup got these errors:

[code]

What's wrong with this? Seems like a bug or something. Anyone could help me out?

[2017-10-26 08:06] asimay commented on #855
wow. thank you very much for so prompt answer.
I skip it, and build on a clean PX2, but still got much compiling error.

[2017-10-26 08:22] #855 closed

[2017-10-26 08:41] asimay opened #857 "px2 build & link error."
Fill-out only one section depending on whether you are reporting a bug or a new feature.

# Bug
On a clean PX2, according to instruction of PX2 setup, when build:

[ 71%] Linking CXX executable /home/nvidia/Autoware/ros/devel/lib/freespace_planner/astar_navi
[ 71%] Built target astar_navi
[ 71%] Building CXX object computing/perception/localization/packages/orb_localizer/CMakeFiles/orb_mapping_off

[2017-10-26 08:59] yk-fujii commented on #857
@asimay
It's a OpenGL compatibility issue.

It is written at the bottom of the file below.
https://github.com/CPFL/Autoware/blob/master/docs/en/installation_with_drivepx2.md

[2017-10-26 09:17] asimay commented on #857
ok. thank you very much . i find the cause. I exported the variance yesterday, but today not export, caused this issue.
thanks!

[2017-10-26 09:18] asimay commented on #857
i closed it

[2017-10-26 09:18] #857 closed

[2017-10-26 09:47] Hierom commented on #847
@sujiwo Sorry for late replying.

I didn't find the link.txt under my Autoware/ros/build directory, but found it in

/Autoware/ros/build/computing/perception/localization/packages/orb_localizer/CMakeFiles/imgprocx.dir/

Here it is, and thank you so much.

/usr/bin/c++    -std=c++11 -fPIC -O3 -DNDEBUG    CMakeFiles/imgprocx.dir/nodes/imgprocx/imgprocx.cpp.o CMakeFiles/imgprocx.dir/nodes/imgprocx/Im

[2017-10-26 11:04] jinfagang opened #858 "[Bug] localization/packages/orb_localizer/src/Map.cc:423:50: warning: format ‘%d’ expects argument of type ‘int’, but argument 3 has type ‘std::vector<ORB_SLAM2::KeyFrame*>::size_type {aka long unsigned int}’ [-Wformat=] fprintf (stderr, "KF: %d\n", allKeyFrames.size());"
Build error in `Autoware/ros/src/computing/perception/localization/packages/orb_localizer/src/Map.cc`
[code]

[2017-10-26 12:17] GuillaumeHauss commented on #716
hello,
I'm running Ubuntu 16.04 and ROS Kinetic, and I ran into the same error as described by @SDwaiwai . However, after checking the CMakeLists.txt file, I do have the fix
`add_executable (
	orb_mapping
		nodes/orb_mapping/orb_mapping.cpp
		nodes/common.cpp
)

target_link_libraries (
	orb_mapping
		${ORB_BIN_LINKS}
		${LINK_LIBRARIES}
)

add_executable (
	orb_matching
		nodes/orb_matching/orb_ma

[2017-10-26 18:04] mljack commented on #840
@amc-nu I'm new to autoware. Could you share how to fix the issue related to autoware_msgs you mentioned above?

I also hit this after remove the if and endif for indigo and jade version check. Seems that it's not related to autoware_msgs.
"/usr/bin/ld: cannot find -lQt5::Core"

[2017-10-27 05:18] amc-nu opened #859 "[Feature] Cloud frame transformer"
# New Feature
This node transforms a PointCloud topic to a target frame.

Input:
* PointCloud in frame 'A'
* tf from 'A' to 'B' frame

Output:
* PountCloud in frame 'B'

### How to test

* Launch from runtime manager Sensing / Preprocessor tab
* `rosrun points_preprocessor cloud_transformer _input_cloud:=/points_A _target_frame:=frameX _output_cloud:=/points_B`
* ` roslaunch points_preprocessor cl

[2017-10-27 06:23] amc-nu commented on #853
@kitsukawa I checked your PR, thanks.
However, I found another problem.

Please check _if_ block at line [80](https://github.com/CPFL/Autoware/blob/develop/ros/src/computing/perception/localization/packages/ndt_localizer/CMakeLists.txt#L76) of `ndt_localizer` package.

*If you have a newer version of PCL* (>=1.7.2), you define `USE_FAST_PCL`.
This flag is used in `ndt_mapping.cpp` in line [61](htt

[2017-10-27 08:02] #851 closed

[2017-10-27 09:06] asimay opened #861 "[question] about doing real car demo."
I'm testing your great package on PX2 platform.
I wonder to know following cases:
1. If I  have a VLP-16, I don't have 3D HD map,  that means there is no vector map, just the 3D laser points. In this case, can I use your package to do localize or do NDT matching?
2.  Do you have any special way to produce the HD map by yourselves? is there any document or instruction from you?

Thank you very much

[2017-10-27 09:59] Hierom commented on #847
@sujiwo Does it mean I should install 2.4.8 instead?

[2017-10-27 11:04] sujiwo commented on #847
I've confirmed that OpenCV 2.4.8 compiles cleanly with orb_slam. There may
be other problems, though.

On Oct 27, 2017 18:59, "Jerome" <notifications@github.com> wrote:

[2017-10-27 13:42] GuillaumeHauss opened #862 "Compilation crash on orb_localizer package : addVertex function in g2o thirdparty library"
# Bug
Autoware compilation crashes on orb_localizer package : addVertex function undefined

## Actual Behavior
When executing ./catkin_make_release to compile Autoware, the command crashes when compiling orb_localizer package -- more specifically these three sub nodes :
`orb_matching`
`orb_matching_pf`
`orb_mapping_offline`

The log trace mentions multiple undefined references to the following fun

[2017-10-27 14:58] #853 closed

[2017-10-28 05:18] Hierom commented on #847
@sujiwo Thanks a lot, let me try for OpenCV 2.4.8 later, by the way, you mentioned me that it should be installed "distributed", what does it mean?

Not like the common way download the install package and build it?

Thanks

[2017-10-28 06:52] #859 closed

[2017-10-28 06:54] amc-nu commented on #841
Hello @aohsato, I know you've been busy this week.
Do you have any update on the progress of this feature?
Thanks!

[2017-10-28 07:00] asimay opened #863 "[Suggestion] when run on PX2, the memory is almost full occupied."
Fill-out only one section depending on whether you are reporting a bug or a new feature.

# Bug
Px2 autochauffer only have 6.5G memory, when run on PX2, it's almost very hard to smoothly run, almost all the memory is occupied by program. Suggest to fully use GPU to accelerate the program running.

## Expected Behavior

## Actual Behavior

## Steps to Reproduce the Problem

  1.
  1.
  1.

## Speci

[2017-10-28 07:03] asimay commented on #861
The rosbag file is only about 91s. too short for testing. and after load the localization script, it is hard to localize the car's position.

[2017-10-28 09:26] aohsato commented on #841
@amc-nu Oops, sorry. Thanks so much for your great review, so then I'll reply and update commits in today.

[2017-10-28 09:36] amc-nu commented on #841
No need to hurry. It’s weekend :)
Rest
Thanks

[2017-10-29 00:37] amc-nu opened #864 "[feature] Updated Kitti Player for Kinetic"
# New Feature
* Kitti player now works on ROS Kinetic.
* Updated compatibility to `autoware_msgs` on Indigo and Kinetic

[2017-10-29 03:04] #841 closed

[2017-10-29 14:11] #864 closed

[2017-10-29 14:13] amc-nu commented on #861
Please have a look at:
https://maptools.tier4.jp/

or you can contact a professional to create the HDMap for you.

We get ours from https://www.aisantec.co.jp/english/

[2017-10-29 14:13] #861 closed

[2017-10-29 14:17] amc-nu commented on #840
Please check #864

[2017-10-29 14:17] #840 closed

[2017-10-30 03:49] amc-nu commented on #856
Please provide all the following information:
# Bug
## Steps to Reproduce the Problem

  1.
  1.
  1.

## Specifications
  - Architecture (x64/arm):
  - Ubuntu version:
  - ROS Version:
  - Autoware branch:
  - CUDA version:
  - OpenCV version:

[2017-10-30 03:53] #782 closed

[2017-10-30 10:00] GuillaumeHauss commented on #862
Hi all,

I've done some digging on this error, and here's what I've found so far.
References to `addVertex` function in file `Optimizer.cc` are

1. in function `BundleAdjustment`
`l.81` with argument of type `VertexSE3Expmap`
`l.100` with argument of type `VertexSBAPointXYZ`
2. in function `PoseOptimization`
`l.259` with argument of type `VertexSE3Expmap`
3. in function `LocalBundleAdjustment`
`l.

[2017-10-31 02:47] cwee9616 commented on #719
@dejanpan

Hi I am trying to calibrate 100 degree FOV camera with vlp16 using autoware. the results are not as good as for the smaller angle cameras. please share with me if you have any information in this regard. I am not sure if Autoware is suitable for wide angle extrinsic calibrations.

[2017-10-31 06:52] dejanpan commented on #719
@cwee9616 we will get our car in 3 weeks and then do the calibration as a first thing and I can only then tell you more. Our wide angle camera is 70deg though.

@amc-nu  any thoughts?

[2017-10-31 06:55] dejanpan commented on #862
@sujiwo can you please help here?

[2017-10-31 07:46] sujiwo commented on #862
Yes @dejan, I'm currently trying to merge new updates in ORB-SLAM, but I
couldn't promise any timeline.

2017-10-31 15:55 GMT+09:00 Dejan Pangercic <notifications@github.com>:

[2017-10-31 08:03] GuillaumeHauss commented on #862
Thank you very much for helping me out!

[2017-10-31 14:31] liuyanliangm opened #867 "Invoking "make -j4 -l4" failed"
![2017-11-01 06-25-13](https://user-images.githubusercontent.com/24785652/32229444-c8d376a0-be8b-11e7-8945-39485d951d8b.png)

[2017-10-31 14:35] liuyanliangm commented on #867
Anyone has any advise?

Thanks

[2017-10-31 22:35] cwee9616 commented on #719
@dejanpan thanks for the reply. for 70 degree cams Autoware would work fine. I have tested it with a 65 degree one.
with the 100 degree one extrinsic calibratiion is leass accurate. hence i tried feeding the undistorted image for calibration this improved the accuracy but still has some miss alignment with the velodyne.other issue wit this is Autoware recalibrate the intrinsics for the undistorted

[2017-11-01 02:07] yk-fujii commented on #867
It does not contain body of error.
Please send full error text.

[2017-11-01 10:30] liuyanliangm commented on #867
thanks for help, I have already fix this issue .
 It's  because  i  installed  anaconda before , once i disable the anaconda ,the issue disappear .

[2017-11-01 10:31] #867 closed

[2017-11-02 06:23] weisongwen commented on #771
@dejanpan @shinpei0208

[2017-11-02 06:23] weisongwen commented on #771
Hi, @dejanpan @shinpei0208 , sorry to bother you here.
# Bug
## Expected Behavior
compile Autoware package successfuly

## Actual Behavior
compile error as following:
**CMakeFiles/icp_matching.dir/nodes/icp_matching/icp_matching.cpp.o: In function `pcl::Registration<pcl::PointXYZ, pcl::PointXYZ, float>::align(pcl::PointCloud<pcl::PointXYZ>&, Eigen::Matrix<float, 4, 4, 0, 4, 4> const&)':
/usr/local

[2017-11-02 18:36] huckl3b3rry87 commented on #758
This sounds great, I am interested in testing my path planning code and this seems like Autoware will be a nice testbed for my algorithm. Currently I am modeling the vehicle, and sensors in Gazebo and would like to use some Gazebo environment to collect the data for my simulations (instead of rosbag). @dejanpan are you still planning on working on this?

Thanks!

[2017-11-03 02:56] huckl3b3rry87 opened #868 "euclidean_cluster package with Gazebo"
As I mentioned [here](https://github.com/CPFL/Autoware/issues/758) am trying to use Gazebo and I am running into some issues that may be either due to the fact that I am a new user or because (as it says in the README.md, Gazebo is not supported for ROS-kinetic).

## Steps to Reproduce the Problem

  1.  Launch Gazebo under the Simulation tab
  2. Click on the euclidian_cluster app

Then I get thi

[2017-11-05 09:39] cwee9616 commented on #719
@bobjohnson2040
Hi did you able to calibrate the wide angle camera with the vlp16? which tool did u used?I have tried Autoware but it seems that it is not good enough for wide angle calibration.

[2017-11-06 01:15] #863 closed

[2017-11-06 05:14] chenyang-08s commented on #850
Same problem :C

[2017-11-06 05:18] amc-nu opened #869 "[fix] Runtime Manager UI update for Pointgrey Autoware Driver"
# Bug
## Expected Behavior
Clicking on the Pointgrey Grasshopper 3 and PointGrey Ladybug 5 checkboxes on the sensing tab should start the nodes.

## Actual Behavior
Clicking on the Pointgrey Grasshopper 3 and PointGrey Ladybug 5 checkboxes on the sensing tab shows an error

## Steps to Reproduce the Problem
While on develop branch
  1. Open Runtime Manager
  1. Click Sensing tab
  1. Launch either

[2017-11-06 05:49] #869 closed

[2017-11-06 06:10] asimay opened #871 "when launch motion plan, report error :enablePlannerDynamicSwitch arg to be set"
when load motion launch as quick_start.pdf instruction, ti prompt error on screen: enablePlannerDynamicSwitch arg to be set.

![4444](https://user-images.githubusercontent.com/8703449/32427472-8e91dfa8-c2fb-11e7-9489-2829afa5cf55.png)
I look the code and find it lack of arg definition.
https://github.com/CPFL/Autoware/blob/master/ros/src/computing/planning/motion/packages/astar_planner/launch/velo

[2017-11-06 08:39] amc-nu opened #872 "[feature] Docker access to USB and Ethernet"
# New Feature
Modifications to Docker build and run script to allow access to USB devices from inside the docker image.

[2017-11-07 09:17] messi49 commented on #843
@dejanpan Sorry for my late reply. Yes, we can control the car from remote location.

[2017-11-07 10:08] maths4513 commented on #263
@shinpei0208
Is vector map files .csv is a stantard gis data format ? Is there any reference documents about this "vector map". hoping for your reply.  :+1:

[2017-11-07 13:21] yn-mrse opened #874 "Feature velocity-visualizer with 3D graph"
# New Feature
Improving the visualization of vehicle velocity on waypoints generated by velocity_set.

| before                                                                                                          | after                                                                                                          |
|-------------------------------------------------------------------

[2017-11-08 02:54] yk-fujii opened #875 "Proprietary library only provides binaries for x86_64."
Proprietary library only provides binaries for x86_64.

# Bug
## Expected Behavior

`
Scanning dependencies of target g30esli_interface
[100%] Building CXX object actuation/vehicles/packages/ymc/CMakeFiles/g30esli_interface.dir/node/g30esli_interface/g30esli_interface.cpp.o
[100%] Linking CXX executable /home/nvidia/Autoware/ros/devel/lib/ymc/g30esli_interface
/usr/bin/ld: /home/nvidia/Autoware/ro

[2017-11-08 08:45] asimay opened #877 "Data Processor for Bag File. No such tool."
Hi, in main page of  autoware, there shows a video "Data Processor for Bag File", but it seems no such tool in autoware package.

can you please check?

thanks!

# Bug
## Expected Behavior

## Actual Behavior

## Steps to Reproduce the Problem

  1.
  1.
  1.

## Specifications

  - Ubuntu version:
  - ROS Version:
  - Autoware branch:

# New Feature
Describe where does new feature request come fr

[2017-11-09 07:26] #875 closed

[2017-11-09 08:18] asimay opened #880 "GPS plane latitude set error,"
https://github.com/CPFL/Autoware/blob/master/ros/src/computing/perception/localization/packages/gnss_localizer/nodes/fix2tfpose/fix2tfpose.cpp#L56

why set plane = 7 here? I think Japan is 9. I don't understand why 7 is here.
Please check. thanks!

# Bug
## Expected Behavior

## Actual Behavior

## Steps to Reproduce the Problem

  1.
  1.
  1.

## Specifications

  - Ubuntu version:
  - ROS Versi

[2017-11-09 08:19] dejanpan commented on #771
@weisongwen can you please create a new issue? You have now commented in one of my issues that has nothing to do with your error. Then I will answer there.

[2017-11-09 08:23] dejanpan commented on #858
@jinfagang Please provide this information, before we can not help you:
[code]

[2017-11-09 08:27] dejanpan commented on #716
@GuillaumeHauss can you please say which exact branch of Autoware do you use, which Ubuntu and how do you compile it?

Also can you provide full compile backtrace?

[2017-11-09 20:34] GuillaumeHauss commented on #716
Hi,
I'm using the master branch, as it was the default one when I downloaded the source code.
As for the Ubuntu Version, I'm running 16.04 Xenial
For compilation, I'm using the `catkin_make_release` script provided with the source code.

I think it'll be best to gather all discussion on that matter here and discard this [issue](https://github.com/CPFL/Autoware/issues/862) then. As you wish.

I'm o

[2017-11-10 04:52] amc-nu opened #881 "[Feature] Add missing features to NDT Mapping UI Runtime manager"
# New Feature

Add missing features to NDT Mapping UI Runtime manager
Add descriptions to labels of each param of NDt Mapping

[2017-11-10 05:16] #881 closed

[2017-11-10 05:16] amc-nu commented on #881
Added feature in #882

[2017-11-10 05:19] amc-nu opened #883 "[faq] Parameter description for ring_ground_filter missing"
# New Feature
Missing descriptions from the author for the `ring_ground_filter` node in `points_preprocessor` package

[2017-11-10 05:22] amc-nu commented on #883
Solved in #884

[2017-11-10 05:22] #883 closed

[2017-11-10 08:13] dejanpan commented on #758
@huckl3b3rry87 unfortunately there was no time to work on this. We would however warmly welcome everyone willing to chip in. Do you have some spare time?

[2017-11-10 08:22] dejanpan commented on #868
@huckl3b3rry87 I am afraid that no-one is really using this version of gazebo to be able to help off the bet. I think that it would really make sense that completely switch to Gazebo 8 as mentioned in #758. We could definitely help integrating it with the current state of topics and services in Autoware.

[2017-11-10 08:32] dejanpan commented on #850
@messi49 did you see this issues?

@cvcore I am fairly certain that no-one is running this combination lightdm + i3wm on Archlinux. Also not saying that it is a culprit but just no-one has tried it out.

[2017-11-10 08:41] dejanpan commented on #871
@asimay could you submit a PR?
@TomohitoAndo it seems that @asimay is right

[2017-11-10 08:53] amc-nu opened #885 "[Feature/Fix] Allow Projection of point cloud to multiple cameras"
# New Feature
Points2Image only accepts one image source, adding name space support will allow it to run multiple instances and project to different cameras.

# Bug
Points2Image only draws points belonging to a PointCloud if the distance is farther than 2 meters.

ROS: Indigo, Kinetic
Autoware branch: develop, master

[2017-11-10 09:00] dejanpan commented on #263
@RicWg working with other vendors is not happening yet but everybody is always welcome. Autoware is open source and thus for evveryone.

@maths4513 this is a custom format, provided by a company http://www.aisantec.co.jp/english/ (http://www.aisantec.co.jp/english/mms.html).
All the shapes in the .csv files are geo-referenced (in ECEF I think).

There is also an online tool where you can create a

[2017-11-10 09:00] #263 closed

[2017-11-10 09:04] dejanpan commented on #877
@asimay
it is now called dpp: https://github.com/CPFL/Autoware/blob/master/ros/dpp

[2017-11-10 09:04] #877 closed

[2017-11-10 09:31] dejanpan commented on #880
@asimay see here for explanation: https://github.com/CPFL/Autoware/issues/492#issuecomment-257532591

[2017-11-10 09:31] #880 closed

[2017-11-10 09:35] #885 closed

[2017-11-10 09:47] YamatoAndo opened #887 "[Bug] rebuild some packages that has not been modified"
# Bug
If the package has not been modified, it should not be rebuilt.

| before | after |
|--------|-------|
| ![actualbehavior](https://user-images.githubusercontent.com/13819566/32651787-70166092-c645-11e7-90ef-63dcfadc4e89.png) | ![expectedbehavior](https://user-images.githubusercontent.com/13819566/32651063-66e23066-c643-11e7-907a-fb127e181fa1.png) |

## Steps to Reproduce the Problem

[code]

[2017-11-10 11:41] cvcore commented on #850
@dejanpan Agreed on your second point. Disagreed the first. AFAIK running i3wm with lightdm as display manager somewhat common in i3 communities. But I guess this is off-topic for this issue so I prefer not discuss further.

current status of my issue:
I managed to get the autoware docker image up and running by first removing the gnome-terminal in dockerfile, installing glx-gears to debug the iss

[2017-11-10 13:24] aohsato commented on #887
![screenshot from 2017-11-10 22-21-27](https://user-images.githubusercontent.com/1531482/32660316-b341bf22-c665-11e7-9777-9e8459a03526.png)
After this modify, gitignore for qt generated files is not enabled... Would you please fix?

[2017-11-10 19:55] huckl3b3rry87 commented on #758
@dejanpan I do have some time to work on this; I decided (at least for the moment) that I will use Autoware for my Autonomous Vehicle Proving Grounds.

[2017-11-10 19:56] huckl3b3rry87 commented on #868
So, is Gazebo 7 working fine with Autoware? Is this tree connected etc.?

[2017-11-11 03:11] dejanpan commented on #758
@huckl3b3rry87 great. I would then suggest the following:

1. port OSRF's docker into Autoware docker:  https://github.com/CPFL/Autoware/tree/master/docker
1. Make sure we can drive the Prius using joystick: https://github.com/CPFL/Autoware/blob/fad2d17234e77e393e263aac861b7a835f10903a/ros/src/system/gazebo/catvehicle/launch/joystick.launch
1. Create an NDT map:
[Autoware_NDT_Mapping_Tututorial.pd

[2017-11-11 03:23] dejanpan commented on #868
@huckl3b3rry87 the simplest answer is that we do not know as noone had enough time to give it enough test. That is also why I would not bother it and go directly to Gazebo 8 (https://www.osrfoundation.org/simulated-car-demo/) which OSRF supports.

[2017-11-11 03:27] dejanpan commented on #850
@cvcore sorry, I misspoke I meant to say that  that no-one in _Autoware community that I am aware of_ is running combination of lightdm + i3wm on Archlinux. Sorry for that.

[2017-11-11 03:30] huckl3b3rry87 commented on #868
@dejanpan thank you for your response. I am familiar with car_demo, I actually posted an issue a while ago [here](https://github.com/osrf/car_demo/issues/19). Among other things, If you look at my first post under 1. ,, long story short; I was hoping that we could build car_demo into something exactly like Autoware, but that was before I found Autoware. I really like what you guys (and gals) have

[2017-11-11 03:31] huckl3b3rry87 commented on #758
@dejanpan for #2, you would like to integrate the prius vehicle from car_demo into Autoware?

[2017-11-11 03:58] dejanpan commented on #758
@huckl3b3rry87 - yes, that is correct

[2017-11-12 13:10] amc-nu opened #889 "[feature] Add GolfCart Model"
# New Feature
-Make Golf Cart Model available to the Robot Model Publisher
-Add Estima Models Launch Files

[2017-11-13 00:48] weisongwen commented on #771
Hi, @dejanpan  sorry for the inconvenience that brought to you here, and thanks a lot for your kind reply.
I do not know why I can not create issue in the "Autoware issue"....
 I will try to create another issue later.

[2017-11-13 05:33] YamatoAndo commented on #887
Perhaps, I think those files were created before my commit. Plz delete those files and try building again.

[2017-11-13 05:53] amc-nu commented on #889
Solved on #890

[2017-11-13 06:16] aohsato commented on #887
@YamatoAndo Okey, ui/moc files are generated in build directory by your modification. THX!
![screenshot from 2017-11-13 15-14-23](https://user-images.githubusercontent.com/1531482/32712001-5ee2c85a-c885-11e7-8323-75928989cd46.png)

[2017-11-13 06:16] #887 closed

[2017-11-13 06:26] asimay commented on #871
@dejanpan,  ok. please see here:

https://github.com/CPFL/Autoware/pull/892

[2017-11-14 05:41] #823 closed

[2017-11-14 05:41] #843 closed

[2017-11-14 10:44] brainhenry opened #895 "what is the return of the euclidean cluster?"
Fill-out only one section depending on whether you are reporting a bug or a new feature.
/home/henry/Pictures/Screenshot from 2017-11-14 18:44:11.png
# Bug
## Expected Behavior

## Actual Behavior

## Steps to Reproduce the Problem

  1.
  1.
  1.

## Specifications

  - Ubuntu version:
  - ROS Version:
  - Autoware branch:

# New Feature
Describe where does new feature request come from. Add high

[2017-11-14 12:25] amc-nu opened #896 "[bug] Error while compiling Autoware's Qt, automoc based packages on Indigo"
# Bug
## Expected Behavior
Successful compilation

## Actual Behavior
Error on the compilation of all Qt, automoc based packages, this error is caused by #888
[code]

Many many other errors. The root of the error is `ROSInterface`. PR coming soon to fix this.

Please test carefully before merging @YamatoAndo @yk-fujii

## Steps to Reproduce the Problem

  1. Execute ./catkin_make_release

## Speci

[2017-11-14 13:06] hakuturu583 opened #898 "[feature]Visualization sensor_msgs/NavSatFix message in rviz"
# New Feature
add OverlayGpsDiaplay and vislalize sensor_msgs/NavSatFix message in rviz by using Google Static Map API.

[2017-11-14 13:29] #896 closed

[2017-11-15 08:26] aztinki commented on #858
#Bug
## Autoware Build fails for ORB Localization
**Problem :**
I was able to run Autoware smooothly, until I started messing around with the Point Cloud Library. I uninstalled and reinstalled PCL from source. The error I get mentions about an undefined reference, I think it is because I installed PCL from source. I am not sure what to do next. Any help will be much appreciated.
**Output of ./catk

[2017-11-16 01:27] amc-nu opened #901 "[fix] launch files for estima models"
# New Feature
Display the new estima models using `model_publisher`

[2017-11-16 07:20] YamatoAndo opened #903 "[Bug] NDT execution speed is slow"
When use NDT(using fast_pcl/registration/ndt.h), processing is slow and CPU usage rate is also very high.
So If we do not use OpenMP, we should use the original PCL version(pcl/registration/ndt.h).

## Specifications

  - Ubuntu version: 16.04
  - ROS Version: Kinectic
  - Autoware branch: master

[2017-11-16 13:31] aztinki commented on #858
Solved it by reinstalling everything!

[2017-11-17 07:39] amc-nu opened #905 "[fix] Images mirrored on Autoware's Ladybug Camera driver"
# Bug
## Expected Behavior
Images coming from the ladybug camera should display correctly the environment.

## Actual Behavior
Images instead are mirrored.

## Steps to Reproduce the Problem

  1. Launch the Autoware's Ladybug camera
  1. Display one of the cameras in RVIZ or any other method

![image](https://user-images.githubusercontent.com/7009053/32935959-ab538fde-cbb5-11e7-8ad0-68af193f34bd.

[2017-11-17 07:42] #905 closed

[2017-11-17 10:46] amc-nu opened #907 "[feature] Image Processor"
# New Feature
Enable image pre and post processing nodes for image streams
* Image rotation
* Image rectification

[2017-11-17 11:19] #907 closed

[2017-11-17 13:23] #872 closed

[2017-11-17 13:39] #901 closed

[2017-11-17 13:42] #858 closed

[2017-11-17 13:45] amc-nu commented on #868
@huckl3b3rry87 the error shown in Euclidean cluster basically means the input cloud is empty (There are no points in the received message)
I haven’t used Gazebo so I really cannot help you there.

[2017-11-19 02:57] andoh104 opened #910 "Build error in develop branch"
Build error occurred in develop branch on Cuda 9.0 ,
but  did not  occur    in master  branch on Cuda 9.0
and did not  occur    in develop branch on Cuda 8.0 .

# Bug
## Expected Behavior
No error on Cuda 9

## Actual Behavior
[code]

## Steps to Reproduce the Problem

  1.`MyProj@USB-HDD:~/Autoware/ros$ ./catkin_make_release `

## Specifications

  - Ubuntu version:16.04
  - ROS Version:Kinetic

[2017-11-19 03:30] andoh104 commented on #910
I submit detailed log:
[code]

[2017-11-19 19:32] dlounis opened #911 "cannot launch node of type [ndt_localizer/ndt_matching_omp]"
Dear all,

I have installed AW on ubuntu 14.04 and I'm trying to reproduce the quick start example. The display does not follow the car frame. I have found those errors :

On one of the terminals :
ERROR: cannot launch node of type [ndt_localizer/ndt_matching_omp]: can't locate node [ndt_matching_omp] in package [ndt_localizer]

On rVIZ : (under raw_points) :
For frame [velodyne]: No transform to

[2017-11-20 03:31] YamatoAndo commented on #911
Thank you for the report.
Is "Use OpenMP" turned on in the app tab of ndt_matching?
Please turn it off and try it.
If it is off, ndt_matching is executed instead of ndt_matching_omp.

By the way, when PCL version is less than 1.7.2, ndt_matching_omp is not created.
(You can solve it by raising the PCL version and building Autoware)

[2017-11-20 08:11] dlounis commented on #911
Thanks for the quick answer.

As far as I understand, the Quick Start example is here to allow a "quick" start, meaning we do not have to change the default settings on the runtime manager. I have followed exactly the steps provided by the Quick Start document. In this document we only need to specify file locations (map, localization, config for rViz). I have not seen anywhere on this document th

[2017-11-20 08:40] #856 closed

[2017-11-20 11:02] YamatoAndo commented on #911
I checked my_launch.sh,
I understood that it is not enough for the current Autoware version.
(We overlooked because we normally do not debug with Quick Start)

Please fix as follows and try again.

my_launch.sh
`90:  #<arg name = "use_openmp" value = "true" />`
`91:  <arg name = "use_openmp" value = "false" />`

Although it seems that there is a problem, it checks with #ifdef _ OPENMP on the sourc

[2017-11-20 11:30] #903 closed

[2017-11-20 12:18] YamatoAndo opened #912 "[feature] switching the map by self position [ndt_matching]"
# New Feature
Modify ndt_matching so that the map can be switched by self position

[2017-11-20 13:56] dlounis commented on #911
Thanks a lot.

It finally worked :).

Now my question regards the green spheres and the path on the road that do not appear on the image (for both ubuntu 14 and ubuntu 16). I have set the mission and motion launch files as described in the QS. How to display these green spheres and also the green area on the pedestrian crossing (as seen on this video : https://www.youtube.com/watch?v=NDNcy0C-Has

[2017-11-20 18:28] aztinki opened #914 "Mapping with KITTI"
Was anyone able to perform mapping in Autoware for kitti datasets? If so, how? Because when I try to map, no pointcloud is seen in rviz.

## Specifications

  - Ubuntu version: 14.04
  - ROS Version: Indigo
  - Autoware branch: master

[2017-11-21 02:59] jinfagang opened #915 "nvcc fatal : Stray '"' character CMake Error at gpu_euclidean_clustering_generated_gpu_euclidean_clustering.cu.o.Release.cmake:222 (message): Error generating"
Fill-out only one section depending on whether you are reporting a bug or a new feature.

# Bug

[code]
this is the second time I occured this problem, is there no one got this??? I never make it success.
## Expected Behavior

## Actual Behavior

## Steps to Reproduce the Problem

  1. installed the dependencies
  1. sourced ros
  1. init workspace
  1. catkin_make_release

## Specifications

  -

[2017-11-21 06:21] #871 closed

[2017-11-21 07:06] YamatoAndo commented on #911
I confirmed to reproduce it in my environment.
We found a bug and fixed it.
Please git pull and try again.

Thank you for the report.

[2017-11-21 07:43] dlounis commented on #911
You're welcome.
Any suggestions for the other issues I mentioned in my previous question ?
Thanks.

[2017-11-21 09:38] #912 closed

[2017-11-21 14:04] dlounis commented on #911
Hello,

for the needs of a meeting with my research team, I'd like to show all the interesting features in Autoware. Is this possible with the quick start example (can I run the computing tools/packages with that example only?) ?

Please, I'd like to bring to your attention that I have a CPU_only machine with no GPU/CUDA and that I did not build AW against SSD, RCNN nor Yolo2 (that's because I was

[2017-11-21 19:30] aalzooke opened #916 "Velodyne doesn't display on the 3D map"
[Fill-out] only one section depending on whether you are reporting a bug or a new feature.

# Bug
## Expected Behavior
The Velodyne should work on the 3D Map

## Actual Behavior
The Velodyne does't show on the 3D map

## Steps to Reproduce the Problem

  1.
  1.
  1.

## Specifications

  - Ubuntu version:
  - ROS Version:
  - Autoware branch:

# New Feature
Describe where does new feature request

[2017-11-21 22:45] andoh104 commented on #915
I can build the current master branch successfully with the following conditions:
- Ubuntu version: 16.04
- ROS Version: kinetic
- Autoware branch: master
- Cuda 9.0

[code]

But In the develop branch, there are some problems. #910

[2017-11-22 00:44] yk-fujii commented on #916
Please tell me more detailed situation.

Is this a ubuntu16.04?master branch?ros indigo?
How did you do it?

[2017-11-22 02:36] jinfagang commented on #915
I just cloned the codes from master not develop. Is it a CUDA9  problem? I am currently using CUDA8

[2017-11-22 05:15] YamatoAndo commented on #911
I think that quick start is sufficient to show Autoware to your research team.
Quick start has all the basic functions of self-driving.

If you want to try another algorithm or new function that is in Autoware, you need to select the node from runtime_manager.
(Please look for it because I think that how to use each function is published on youtube)

[2017-11-22 07:51] dlounis commented on #911
Thanks.

I still need to know why in my case I cannot see the following details :

* for mission_launch  : Green spheres, Green pedestrian crossing,

* for motion_launch : curves on the path

When I activate mission and motion launch files on the QS interface, it seems that this has no effect on the displayed image.

Thanks.

[2017-11-22 13:09] YamatoAndo commented on #911
Thanks and I'm sorry many times.

I fIxed it.
Please download my_launch.sh and try again.
http://db3.ertl.jp/autoware/sample_data/my_launch.sh

[2017-11-22 14:30] aalzooke commented on #916
Yes it's Ubuntu 16.04 and it's ROS Indigo
The veldoyne it's working only when i display the 3D map it doesn't show on RVIZ Map

[2017-11-22 14:58] #847 closed

[2017-11-22 16:33] dlounis commented on #911
No problem. I'll try it later and let you know.

Thanks a lot.

[2017-11-23 04:41] yxh0606 opened #918 "[Solved] Use the CPFL/Autoware GUI to launch IMU Xsens MTi-G-7XX driver"
Fill-out only one section depending on whether you are reporting a bug or a new feature.

#
## Expected Behavior
Here is the temporary solution for "CPFL/Autoware" GUI to launch the "IMU Xsens MTi-G-7XX" driver.
Hope the contributor could add the "IMU Xsens MTi-G-7XX" driver in the Autoware-master.zip file in the future.

## Actual Behavior
"CPFL/Autoware" GUI has the driver to launch "IMU Xsens M

[2017-11-24 01:52] kimjongyoung opened #919 "Runtime manager does not display when ./run is tried"
It did display but now it doesn't. Here's what I see on the terminal (Ubuntu 16.04)

... logging to /home/bayesian/.ros/log/7fd194ee-d0b7-11e7-ad5d-4439c4519f9c/roslaunch-bayesian-3710.log
Checking log directory for disk usage. This may take awhile.
Press Ctrl-C to interrupt
Done checking log file disk usage. Usage is <1GB.

started roslaunch server http://bayesian:37281/
ros_comm version 1.12.7

[2017-11-24 02:13] yk-fujii commented on #919
Could you send me a log when the following command is executed?

`
source devel/setup.bash; roscore & rosrun runtime_manager runtime_manager_dialog.py
`
if you not using bash, please select other setup file.(setup.sh, setup.zsh)

[2017-11-24 02:24] kimjongyoung commented on #919
Thank you so much for your help;

here is the output

bayesian@bayesian:~/Downloads/Autoware/ros$ source devel/setup.bash;
roscore & rosrun runtime_manager runtime_manager_dialog.py
[1] 5430
... logging to /home/bayesian/.ros/log/a19a23a6-d0bd-11e7-ad5d-4439c4519f9c
/roslaunch-bayesian-5430.log
Checking log directory for disk usage. This may take awhile.
Press Ctrl-C to interrupt
Done checking log

[2017-11-24 03:04] yk-fujii commented on #919
it seems that you not installed wx python module.
Please install wx with following command.

`
sudo apt install python-wxgtk 3.0
`

[2017-11-24 03:16] kimjongyoung commented on #919
Dear Mr. Fujii,
it says python-wxgtk3.0 is already installed.

On Fri, Nov 24, 2017 at 12:04 PM, Yusuke FUJII <notifications@github.com>
wrote:

[2017-11-24 08:08] yk-fujii commented on #919
ummh....
What version are you using python?
Is `import wx` valid in your python?

[2017-11-24 08:30] kimjongyoung commented on #919
No, it says "no module named wx"
Is it a sudo issue?

[2017-11-24 13:29] asimay commented on #704
it's already support GPS data.

[2017-11-25 07:00] dejanpan commented on #895
@brainhenry please provide more details? which code/launch file are you running? What return value are you interested in?

I will for now close the issue. Please re-open once you provided more details.

[2017-11-25 07:00] #895 closed

[2017-11-25 07:08] dejanpan commented on #898
@hakuturu583 do you plan to add this feature or would you like that someone from Autoware team adds it? If the latter - can you provide some pointers to the documentation or how to do it?

I will for now close the issue, please re-open if you can provide more details.

[2017-11-25 07:11] dejanpan commented on #889
@amc-nu are you guys still working on this issue?

[2017-11-25 07:18] amc-nu commented on #889
Yes, we are checking with the model author if it’s possible to include it here

[2017-11-25 07:30] dejanpan commented on #914
@aztinki can you be a bit more precise? which dataset are you referring to? images or PC?

We can play the data back: https://github.com/CPFL/Autoware/tree/develop/ros/src/util/packages/kitti_pkg

and we have mapping/localization pkgs:

https://github.com/CPFL/Autoware/tree/develop/ros/src/computing/perception/localization/packages

@amc-nu or @andoh104 might know more.

[2017-11-25 07:35] dejanpan commented on #915
@andoh104 where are current best instructions for installing CUDA9?

@jinfagang could you try with CUDA9?

[2017-11-25 07:40] amc-nu commented on #914
Using the kitti player mentioned by @dejanpan a map from any of the sets can be generated.
Please refer to page 15 of Tier4 Academy in the Autoware manuals repo.

[2017-11-25 07:44] dejanpan commented on #916
@aalzooke this can not be, ROS indigo is not supported and released on 16.04: http://www.ros.org/reps/rep-0003.html#indigo-igloo-may-2014

In addition please provide exact steps in how are you trying to launch velodyne driver and visualize it (e.g. which launch files do you run).

[2017-11-25 07:48] dejanpan commented on #911
@andoh104 is http://db3.ertl.jp/autoware/sample_data/my_launch.sh something that we should merge int develop?

@dlounis can we close this issue? Were you able to get enough help?

[2017-11-25 07:48] dejanpan commented on #911
@dlounis can you say which research team are you with?

[2017-11-25 07:55] dejanpan commented on #918
@kitsukawa do you understand what @yxh0606 is trying to tell? Trying to launch a different type of an IMU?

[2017-11-25 08:07] dejanpan commented on #704
@andoh104 @shinpei0208 say gps is currently only used for the initialization. it would be fairly easy to add it into the actual mapping process too. Contributions are welcome and let us know if you need some guidance @miketry0313

[2017-11-25 09:33] asimay opened #923 "relay will copy topic to another, and cost more resources."
relay will copy topic data to another topic,  maybe this will cost more machine resources.
I think maybe it's better to replace with `<remap> `and reduce the machine resources and improve effience.
How did you think?
code is here, Line 11-12, 16-17:
https://github.com/CPFL/Autoware/blob/master/ros/src/computing/perception/localization/packages/autoware_connector/launch/vel_pose_connect.launch#L11

[2017-11-25 10:17] asimay opened #924 "static_transform_publisher"
I noticed in autoware, there are many static_transform_publisher frequency set to 100Hz, according to ROS wiki:

![tf](https://user-images.githubusercontent.com/8703449/33229607-99683646-d20c-11e7-92c3-68ea316ed0ef.PNG)

![statictf](https://user-images.githubusercontent.com/8703449/33229633-231c1b8c-d20d-11e7-8dc4-d88f1e7e8b2d.PNG)

static tf is not changed, if set to 10Hz, this will reduce much m

[2017-11-25 12:48] dlounis commented on #911
not yet. I still have difficulties with many features. Now even the QS demo does not work. I'll provide feedback asap. Thanks.

[2017-11-25 16:54] dejanpan commented on #923
@h-ohta can you comment on this? In general remap and relay are different. relay actually duplicates they topic (including data flow) and remap actually just renames it.

[2017-11-25 20:31] dlounis opened #925 "is there a rosbag file smaller than the moriyama file ?"
Dear all,

I am sorry to ask this question here. I am just wondering if there is smaller rosbags (smaller than the moriyama's) to run a demo of Autoware ?

Thanks a lot.

[2017-11-25 23:35] dlounis commented on #911
Hello,
could someone help me with this issue. The car loses its track most of the time and I am no longer able to display the digits on the path when activating the mission launch nor I can display other details like green area on the path...
thanks.

[2017-11-26 02:01] yxh0606 commented on #918
@dejanpan Many thanks for the prompt reply. Here is the temporary solution to launch the IMU Xsens MTi-G-7XX.   Hope the contributor could add the MTi-G-7XX in the source code consequently.

[2017-11-26 16:40] dlounis opened #926 "DBusMenuExporterDBus::getProperties error"
Please, can you help me with this : I have this error when I click on rViz to run the quick start demo  :

QVariantMap DBusMenuExporterDBus::getProperties(int, const QStringList&) const: Condition failed: action
Thanks.

[2017-11-27 05:17] #914 closed

[2017-11-27 05:18] amc-nu commented on #925
@dlounis you could just extract a part of the rosbag or split it
http://wiki.ros.org/rosbag/Commandline#filter

[2017-11-27 05:18] #925 closed

[2017-11-27 05:21] #868 closed

[2017-11-27 05:23] amc-nu commented on #916
probably NDT is not working. Check TF Tree using RQT, if the tree is not connected, make sure NDT is receiving data from the Velodyne and the initialization is correct. Check the manual for extra details. https://github.com/CPFL/Autoware-Manuals/tree/master/en

[2017-11-27 05:23] #916 closed

[2017-11-27 05:25] #849 closed

[2017-11-27 07:14] dejanpan commented on #914
@aztinki here the link: https://github.com/CPFL/Autoware-Manuals/blob/master/en/Autoware_TierIV_Academy_v1.1.pdf

[2017-11-27 07:16] dejanpan commented on #758
@huckl3b3rry87 have you been able to make some progress here? Got any questions?

[2017-11-27 07:26] amc-nu commented on #849
Thanks for you suggestion @sirjamesgray
Most of the videos are not meant to show what the node is it about, but instead only to show how to run the node. We will of course consider your suggestion and link them to the documentation.

[2017-11-27 07:33] amc-nu opened #929 "[bug] Traffic Light recognition feat_proj node fix to multi cam support"
# Bug
## Expected Behavior
feat_proj node should subscribe to the image stream specified

## Actual Behavior
feat_proj node doesn't show the traffic light projection from the vector map

## Steps to Reproduce the Problem

  1. Publish PCD Map, Vector Map, Map and base_link TF, Camera-Velodyne TF, Camera intrinsics
  1. Run NDT Localization
  1. run feat_proj
  1. Traffic signal won't be shown.

##

[2017-11-27 07:41] #929 closed

[2017-11-27 09:13] arashroomi commented on #565
Does anyone knows what does each value in the CSV files mean? Specially in the dtlane.csv and lane.csv
Imade some guesses fro example Slope or RefVel, but do you guys have also ideas about the csv file?

[2017-11-27 10:00] shuzhenzhang commented on #840
hi,
have you resoved this problem?

[2017-11-27 10:09] amc-nu commented on #840
@shuzhenzhang Please check #864

[2017-11-27 15:01] andoh104 commented on #915
I think you can install CUDA9 from here:
https://developer.nvidia.com/cuda-downloads?target_os=Linux&target_arch=x86_64&target_distro=Ubuntu&target_version=1604

But I have an another environment as follows, and I can build the master branch successfully in this environment.
-    Ubuntu version: 14.04
-    ROS Version: Indigo
-    Autoware branch: master
-    Cuda 8.0

[code]

[2017-11-27 15:37] aztinki commented on #914
Thank you!
My rosbag was erroneous earlier.

[2017-11-27 16:10] huckl3b3rry87 commented on #758
@dejanpan I did put some time into it a couple weeks ago, but had to shift priorities a bit. This is still definitely something that I am interested in and will put some time in today!

[2017-11-27 19:34] dlounis commented on #925
@amc-nu Thanks !

[2017-11-27 21:38] christopherho-ApexAI opened #931 "Create unit testing example"
# New Feature

Provide a simple example of unit testing with gtest in Autoware for other developers to reference.
@amc-nu @dejanpan FYI

[2017-11-28 01:25] shuzhenzhang commented on #840
@amc-nu
Thanks for your reply, could you tell me how to do it?
I git clone master yesterday and compiled successfully.When I ran roslaunch kitti_launch kittiplayer.launch under Autoware/ros,the same error occurred.

[2017-11-28 02:20] huckl3b3rry87 commented on #758
@dejanpan today, I did my best to update the Docker file as well as the build and run scripts. The result is here https://github.com/huckl3b3rry87/Autoware/blob/feature/port_car_demo/docker/Dockerfile

After building a docker image with:
[code]
and trying to run the demo with:
[code]
The gui pops up for about a second and disappears. I have spent quite a bit of time on this, but cannot figure it o

[2017-11-28 03:47] asimay opened #933 "lane select underlying bug."
https://github.com/CPFL/Autoware/blob/master/ros/src/computing/planning/mission/packages/lane_planner/nodes/lane_select/lane_select_core.cpp#L632

at line 627, here defined `current_lane_idx_ = -1;` , so it is always execute line 632,  always initialize lane select, never touch `processing()`.
please check.

# Bug
## Expected Behavior

## Actual Behavior

## Steps to Reproduce the Problem

  1.

[2017-11-28 05:34] asimay commented on #933
should remove line 627-630.

[2017-11-28 12:15] amc-nu commented on #931
thanks this is great!

[2017-11-28 19:18] huckl3b3rry87 commented on #612
Using the master branch of Autoware, I run into similar issues:
[code]

[2017-11-29 03:49] kitsukawa commented on #918
@yxh0606 Does Xsens driver in Autoware work for MTi-G-7xx? Can you check the operation of the Xsens driver in Autoware/ros/src/sensing/drivers/imu/xsens using your sensor(MTi-G-7xx)? If it does not work, we can use the driver in the Synaptic package manager instead and can add the checkbox for launching the driver.

[2017-11-29 07:55] yxh0606 commented on #918
@kitsukawa Thank you for your replying.
No, it is not compatible with Xsens MTi-G-7xx driver from your original code.

But your original source code,  the Autoware work well for Xsens MTi-300 driver.
It will run the Autoware/ros/src/util/packages/runtime_manager/scripts/mti300.sh file.

My initial idea is same with you: just use the driver in Synaptic package manager, it works well with Xsens MTi-

[2017-11-29 08:49] kitsukawa commented on #918
@yxh0606 That's good. If it is possible, can you make a PR of your modification so that others can use Xsens MTi-G-7xx with Autoware? It would be great if you could include the installation guide of Xsens MTi-G-7xx driver in Synaptic package manager.

[2017-11-29 08:59] yxh0606 commented on #918
@kitsukawa Understand.  The details to use the Xsens MTi-G-7xx with Autoware is under "issue/[Solved] Use the CPFL/Autoware GUI to launch IMU Xsens MTi-G-7XX driver #918".

Please follow the steps posted in the #918 to use the Xsen MTi-G-7xx driver.
Part 1: Use the Ubuntu to launch the MTi-G-7XX driver.
Part 2: Use the Ubuntu Autoware to launch the MTi-G-7XX driver.

Thank you for your kind help.

[2017-11-29 11:02] asimay commented on #933
any update? I can submit a PR for this bug.

[2017-11-29 12:07] yk-fujii commented on #933
thanks for report!
It certainly looks like it will not be right.

@TomohitoAndo
could you check it please?

[2017-11-29 13:07] yk-fujii commented on #919
it means your environment have not installed wxpython corresponding to python you're using.
I think that it is a problem of python version.

What is the version of python used?
Could you reinstalled wxpython?

[2017-11-29 16:33] arashroomi opened #934 "Build hexacam_node make Error"
Fill-out only one section depending on whether you are reporting a bug or a new feature.

Hi I am doing camke of the Autoware main branch,it gives me Built error as below. Apparently it has issues on making the Hexcam package. I ran catkin_make --pkg hexacam command separately to see if it can build it separately. It was able to be built but again in the ./catkin_make_release it gives the same err

[2017-11-30 01:12] amc-nu commented on #934
According to your output, the error is somewhere else. You’re looking just that the hexacam node was the last one to be compiled and linked correctly.
Look closely in your output to find the actual error. Or share the complete error log.

[2017-11-30 08:34] arashroomi commented on #934
Is this helpful? I made an error log of the catkin_make. Are there packages I still need to install? The strange thing is that I could install Autoware once and at some point, it stopped working and now I cannot install it anymore.

arash@arashtue:~/Autoware/ros$ catkin_make ... >~/Autoware/error.log
fast_pcl requires PCL 1.7.2 or higher versions
fast_pcl requires PCL 1.7.2 or higher versions
'can

[2017-11-30 08:49] yk-fujii opened #935 "[Feature]: "DecisionMaker" did not make decisions"
"DecisionMaker" did not make decisions, only recognition state and state management.
In order to comply with traffic regulations, it is necessary to control a vehicle control by making a decision on state management.

[2017-11-30 10:06] dlounis opened #937 "Failed to play KITTI data"
Dear all,

I have followed instructions here :
https://github.com/CPFL/Autoware/blob/master/ros/src/util/packages/kitti_pkg/README.md

Unfortunately, I did not manage to run the Launch file.

I get those errors :

[ INFO] [1512035912.721070639]: No points node received, defaulting to points_raw, you can use _points_node:=YOUR_TOPIC
[ INFO] [1512035912.722012478]: No camera info topic received, def

[2017-11-30 11:29] amc-nu commented on #937
If you wish to see the detection results (bounding boxes) then please pull the develop branch instead. This error was fixed on #865 and is going to be integrated in the coming 1.6 version.
If you don’t need the detection results then you can stay in the master branch and  see the data published in the topics indicated in the README.
If I remember correctly you wish to use SSD/Yolo2. If I’m correct

[2017-11-30 11:31] amc-nu commented on #934
Not yet. This is not the complete log. These are only notices.

[2017-11-30 16:29] dlounis commented on #937
Thanks. I manage to display point clouds and camera data from kitti data.
I did not know that the kitti launch file performs detection as well.

Actually I was planning to use the command line to run detection tools (rosrun nodes) and display the output of detection on rviz. Is it possible to perform detection without pulling the develop branch (I am afraid this will alter my current install and I

[2017-11-30 19:54] hvpandya commented on #862
Seems like you already have a version of lib2go installed on your system. Try removing the default version:

`apt-get remove ros-kinetic-lib2go`

Then try to build the orb_localizer package

`catkin_make --pkg orb_localizer`

[2017-12-01 03:41] amc-nu commented on #937
@dlounis Please refer to the detection section (page 32) of the TierIV Academy documentation
https://github.com/CPFL/Autoware-Manuals/blob/master/en/Autoware_TierIV_Academy_v1.1.pdf

In order to build SSD and YOLO2 you need to correctly setup NVIDIA Drivers, CUDA and Caffe (for SSD). Please check the corresponding README https://github.com/CPFL/Autoware#how-to-build

[2017-12-01 06:11] amc-nu opened #938 "[fix] SSD node not reading from the src topic"
# Bug
## Expected Behavior
SSD node should read from the image topic set in the param `image_src` in the launch file or `image_raw_node` when using rosrun.

## Actual Behavior
It defaults to `image_raw`.

## Steps to Reproduce the Problem

  1. Launch ssd node from Runtime Manager selecting a different topic than `image_raw` with the help of the [app] button.
![image](https://user-images.githubuse

[2017-12-01 06:30] #938 closed

[2017-12-01 07:19] shuzhenzhang commented on #937
hi,
1.git checkout develop
2../catkin_make_release
3.roslaunch kitti_launch kittiplayer.launch --screen

[2017-12-01 08:57] dlounis commented on #937
@all
is it possible to run the former launch file on a terminal and run the nodes that does car and pedestrian detection on other terminals ?

If yes, which are those nodes ?

Thanks a lot.

[2017-12-01 11:10] dlounis commented on #937
I checked out to develop
no bounding boxes displayed on image/camera topics in rviz.

I do not have ssd/fastrcnn/yolo2 installed. Is this the reason I don't see detection results (bbx's) ?

Which algorithm/node is used to produce those results ?

Thanks.

[2017-12-01 12:42] asimay commented on #933
any update?

[2017-12-01 16:02] christopherho-ApexAI opened #940 "xsens driver is out of date"
# Bug
## Expected Behavior
- xsens IMU should work with no issues and publish data

## Actual Behavior

- xsens IMU driver crashes due to IO error

## Steps to Reproduce the Problem

  1. Check out autoware
  1. Go to `Autoware/ros/src/sensing/drivers/imu/packages/xsens/src/xsens_driver/src`
  1. Run: `./mtdevice.py`. You should see an error similar to below:

[code]

## Specifications

  - Ubuntu

[2017-12-01 16:29] dlounis commented on #937
I wonder how I can display those objects (image_obj messages) :
header:
  seq: 301
  stamp:
    secs: 1317043155
    nsecs:  24432076
  frame_id: camera
type: car
obj:
  -
    x: 724
    y: 167
    height: 139
    width: 278
    score: 0.648940086365
  -
    x: 608
    y: 162
    height: 51
    width: 68
    score: -0.368480205536
  -
    x: 208
    y: 69
    height: 69
    width: 139
    score: -

[2017-12-01 16:58] christopherho-ApexAI opened #942 "Add VLP16_Hires_db.yaml to velodyne params"
Fill-out only one section depending on whether you are reporting a bug or a new feature.

# New Feature

Add support to velodyne pointcloud to make autoware velodyne drivers closer to open source velodyne drivers:

https://github.com/ros-drivers/velodyne/tree/master/velodyne_pointcloud/params

[2017-12-01 20:10] dlounis opened #944 "errors making develop branch"
hello,

I checked out to develop branch today in order to see object detection bounding boxes. I have ubuntu 14.04 + indigo. I have also installed cuda 6.5 and ssd. I get these errors when I build autoware :

/Autoware/ros/src/computing/perception/detection/packages/lidar_tracker/nodes/vscan_lidar_track/mainwindow.cpp:2:27: fatal error: ui_mainwindow.h: No such file or directory
 #include "ui_main

[2017-12-02 01:21] amc-nu commented on #942
thanks @christopherho-ApexAI

[2017-12-02 01:21] #942 closed

[2017-12-02 04:10] amc-nu commented on #940
Thanks @christopherho-ApexAI and @dejanpan

[2017-12-02 04:10] #940 closed

[2017-12-02 05:45] #931 closed

[2017-12-03 05:54] andoh104 commented on #944
Did you install Qt5?

[2017-12-03 11:14] andoh104 commented on #910
@YamatoAndo

I tested some revisions of the develop branch, and I think this commit caused the error .
https://github.com/CPFL/Autoware/commit/cede0f32e63088eaa143e9c09e0d3d7e6ca8d7d9#diff-86c66608765cf5c93ad53f0479a58f18

[2017-12-03 17:45] andoh104 commented on #910
I can build successfully in the following environment  :
-   Ubuntu version:16.04
-   ROS Version:Kinetic
-   Autoware branch:develop
-  CUDA 8.0

So I think this error occurs only in CUDA 9.0 .

However, since the current CUDA version is 9.0, installing CUDA 8.0 is a bit difficult.
And I could not install cuda_tollkit with CUDA 8.0 .

[2017-12-04 15:06] amc-nu opened #945 "[feature/fix] Target frame of Tf cannot be selected when publishing camera extrinsic"
# Bug
## Expected Behavior
Calibration publisher should be able to target any frame to broadcast the transformation.

## Actual Behavior
Calibration publisher always defaults to frame `velodyne`.

## Steps to Reproduce the Problem

  1. Open Runtime Manager
  1. Select Sensing Tab
  1. Launch Calibration publisher
  1. Select "Register tf between lidar and camera"

## Specifications

  - Ubuntu ve

[2017-12-04 15:13] #945 closed

[2017-12-04 15:29] dlounis commented on #944
Hi,

Yes, I have Qt5...

[2017-12-04 16:02] dlounis commented on #944
I have ubuntu 14.04 and indigo... maybe this is the reason the Develop branch does not build on my system ?

Is the develop branch only compatible with ubuntu 16.04 and Kinetic ???

Thanks.

[2017-12-04 17:18] dlounis commented on #944
I have both Qt4 and Qt5 on my computer (Ubuntu14.04).
I believe that Qt5 was installed with Autoware. However, I do not remember why Qt4 was installed.

When I enter : pkg-config --modversion QtCore
I obtain 4.8.6.

I don't think this is the reason behind my issue in not being able to build the develop branch.

Indeed I have another computer with the same configuration (Ubuntu 14.04 + indigo). Whe

[2017-12-05 00:57] MaskedName commented on #911
I am also a user and I am trying to figure out how to run autoware. From my experience, if the CPU computation power is not enough, the car will lose its track. And many strange things will happen, for example, detected objects are not in the right position, map not displayed, ...

[2017-12-05 03:09] #935 closed

[2017-12-05 08:08] asimay commented on #933
hi, dear, it seems no response of this issue...

[2017-12-05 08:15] asimay commented on #818
perfect!

[2017-12-05 08:18] asimay commented on #820
why? if(i == 0) , here will redefine crossroad variable.

[2017-12-05 08:28] dlounis commented on #911
You are right. I have tried with a more powerful computer and quick start example works. I see that you managed to detect objects ? Please, do you mean 2D object detection on 2D color images ? As far as I know there is no video data included in the moriyama bag file. I have downloaded Kitti data and managed to run the kitti_player but I do not see any object detection (no bounding boxes displayed)

[2017-12-05 10:42] dlounis opened #947 "qt4 qt5 conflict : develop branch"
Dear all,

since I git checked out the develop branch, I get a build error saying :
 ui_mainwindow.h no such file or directory

I have search the web for solutions and I still can't fix the issue. Any help please ?

Thanks.

[2017-12-05 19:05] MaskedName commented on #911
I have not run kitti_player yet.

[2017-12-06 08:07] dlounis opened #948 "issue with qt and cuda - lidar_tracker"
Dear all,

I recently decided to run KITTI_Player in order to apply object detection to 2d images (since there is no video data in Moriyama bag file).

In order to take advantage of my GPU, I also installed CUDA.

Now I have a build error :

/Autoware/ros/src/computing/perception/detection/packages/lidar_tracker/nodes/vscan_lidar_track/mainwindow.cpp:2:27: fatal error: ui_mainwindow.h: No such fil

[2017-12-06 13:50] #934 closed

[2017-12-06 14:18] dlounis opened #951 "what to do with kitti data and calibration files ?"
Hi,

I've downloaded Kitti data and I managed to display point clouds and color images.

I tried to perform detection and I managed to display bounding boxes from dpm_ttic car/pedestrian detector. They do not look correct in my sense.

Besides this, I'd like to know what we can perform with this data and if the calibration files are of some interest or not ? Why and how to use them ?

Thanks.

[2017-12-06 18:59] amc-nu opened #952 "[feature] Multiple Traffic Signal support"
# New Feature
Autoware currently only detects one traffic light per pole. Therefore, if several traffic lights with different purposes are in the same pole, only the detection of one of them will be reported.

[2017-12-07 11:01] dlounis opened #957 "build error after installing ssdcaffe + cuda"
# Bug
Hi,

I have built SSD_CAFFE with cuda and when I tried to build Autoware, I get these errors :

make[2]: *** [computing/perception/detection/packages/cv_tracker/CMakeFiles/ssd_unc.dir/nodes/ssd/ssd_node.cpp.o] Error 1
make[1]: *** [computing/perception/detection/packages/cv_tracker/CMakeFiles/ssd_unc.dir/all] Error 2
make[1]: *** Waiting for unfinished jobs....
[ 86%] Built target obj_reproj

[2017-12-08 09:32] dlounis opened #958 "ssd_unc : error"
Hi,

I tried to detect cars/objects using kitti data. When I select ssd_unc on AW GUI, I get this error on the terminal :

F1208 09:19:04.427994 23857 io.cpp:45] Check failed: fd != -1 (-1 vs. -1) File not found: data/coco/labelmap_coco.prototxt
*** Check failure stack trace: ***
[ssd-1] process has died [pid 23857, exit code -6, cmd /home/lounis/Autoware/ros/devel/lib/cv_tracker/ssd_unc __name:=s

[2017-12-08 09:36] YamatoAndo opened #959 "It is not good to hard-coding with "world" at initialposeCallback function"
# Bug
It is not good to hard-coding with "wolrd" at initialposeCallback function.

ex.  wf_simulator.cpp
119: getTransformFromTF(MAP_FRAME, "world", transform);

We should use header.frame_id included in initialpose.

## Specifications

  - Ubuntu version: 16:04
  - ROS Version: kinekic
  - Autoware branch: develop

[2017-12-09 01:06] asimay commented on #933
hi dear, any update? I think there is need someone to maintain the debug code.
if ok, i'm also glad to join in your team and maintain.

[2017-12-09 22:34] andoh104 commented on #947
Can you build the master branch ?
And about the develop branch, I can build only on CUDA8 environment.  (see #910)

I guess your Qt environment is something wrong.

This is mine.
[code]

[2017-12-10 00:38] shinpei0208 commented on #933
That would be appreciated if you can contribute to the repo.

@TomohitoAndo @aohsato Can you check the bug?

2017/12/09 午前10:06 "asimay" <notifications@github.com>:

[2017-12-10 00:48] andoh104 commented on #944
Is this same issue as #947 ?
If so , you'd better close this.

[2017-12-10 05:50] jyl087 opened #962 "Vector map NWU or ENU?"
Hi, I'm new to AutoWare. It is a great contribution to autonomous driving!
Is the basic orientation of "direction" and GPSpoints aligned with a NWU or ENU frame? Looking at the GPSPoint, it appears to be NWU (B is latitude, therefore Bx is probably "Northing")

Given that orientation, are other "direction" vectors referenced from North? For example, the "A" variable in Point. Is that radians count

[2017-12-10 05:57] jyl087 commented on #962
Or, maybe Vang is the "altitude" from horizontal? So, e.g. Hang,Vang = 0,90 would be a vector pointing North, Up?

[2017-12-10 07:55] #944 closed

[2017-12-10 11:07] dlounis opened #963 "did someone use SSD detection ?"
Hi,

did someone manage to run the SSD detection correctly ?
I have no knowledge of caffe/CNN.

Thanks.

[2017-12-11 05:32] #952 closed

[2017-12-11 05:37] amc-nu commented on #924
@asimay reducing the broadcast time to 10Hz might be ok for a lidar sensor, but not for a camera, IMU or other sensors or algorithms. We haven't noticed any performance impact due to this value.
Have you? if so, could you provide
* A real example,
* How to execute it?
* The difference in performance you are experiencing
* How are you measuring it?

[2017-12-11 05:37] #924 closed

[2017-12-11 05:39] #919 closed

[2017-12-11 05:55] YamatoAndo opened #964 "There is ndt code in icp_matching source code"
# Bug
There is ndt code in icp_matching source code.
We should delete it, including the commented out part.

## Specifications

  - Ubuntu version:16.04
  - ROS Version: kinekic
  - Autoware branch: develop, master

[2017-12-11 06:11] #962 closed

[2017-12-11 06:46] yk-fujii commented on #947
This problem is caused by the version of cmake.
CMAKE_AUTOMOC is needded higher than 3.0.2

@YamatoAndo is fixing it now.

[2017-12-11 07:45] YvesZHI opened #968 "Does multi-cores help?"
My PC has 4 cores and the system is Ubuntu 16.04. When I execute Autoware (./ros/run), everything's fine but it seems that there is always only one core which is working.<br>

Does it mean that Autoware can only use one core?

[2017-12-11 08:06] dejanpan commented on #845
@amc-nu do you know why Autoware decided to fork drivers rather than using original ones through submodules or https://github.com/dirk-thomas/vcstool (*.repos file)?

[2017-12-11 08:17] dejanpan commented on #933
@asimay thx for the report.

@shinpei0208 @TomohitoAndo it seems that with this bug we will never be able to do lane change: https://github.com/CPFL/Autoware/blob/master/ros/src/computing/planning/mission/packages/lane_planner/nodes/lane_select/lane_select_core.cpp#L170, correct?

[2017-12-11 08:23] dejanpan commented on #957
@dlounis did you use this setup to install:

# NVIDIA Driver Setup
1. Download the RUN file from NVidia's website
https://www.geforce.com/drivers
You'll have a file named similarly to `NVIDIA-Linux-x86_64-XXX.YY.run`

2. Assign execution permissions `chmod +x NVIDIA-Linux-x86_64-XXX.YY.run`

3. Move to a virtual console pressing `Ctrl+Alt+F1` and login

4. Terminate the X Server executing `sudo se

[2017-12-11 08:24] dejanpan commented on #957
Note again Cuda version 8.0!

[2017-12-11 08:31] dejanpan commented on #951
@dlounis can you please provide material to replicate your experiment:
- which datasets did you download
- how do you play them back
- which nodes (launch files) are you running
- develop branch of Autoware?

[2017-12-11 08:36] dejanpan commented on #948
@dlounis we will in couple of weeks make stop to build failures (by enforcing build upon merges). Could you until the report:
- which ubuntu
- which ros
- which autoware branch

[2017-12-11 08:42] dejanpan commented on #820
@histfuture what @asimay says is correct. if you found an actual bug in behaviour please re-open.

[2017-12-11 08:42] #820 closed

[2017-12-11 08:46] dejanpan commented on #818
@hatem-darweesh or @kitsukawa do you know the answer and can then close this issue?

[2017-12-11 09:05] YamatoAndo opened #969 "[bug]obj_repoj does not work."
# Bug
obj_repoj does not work.

## Expected Behavior
![selection_070](https://user-images.githubusercontent.com/1758804/33823110-470edc72-de9d-11e7-88e2-6a577ec71ce3.png)

## Actual Behavior
![selection_071](https://user-images.githubusercontent.com/1758804/33823191-897154b4-de9d-11e7-802d-07f15aec2b0e.png)

## Specifications

  - Ubuntu version: 16.04
  - ROS Version: kinekic
  - Autoware branch:

[2017-12-11 09:23] dlounis commented on #947
Thanks.

Where shall I use qt5_wrap_ui ? in the CMAKEList File ??

Thanks.

[2017-12-11 09:25] dlounis commented on #948
I have :
- Ubuntu 14.04
- Ros Indigo
- Develop branch

[2017-12-11 10:49] YamatoAndo opened #972 "[bug] fast pcl NDT use huge memory"
# Bug
When "use_fast_pcl" is true,  if load a large map (like moriyama), use too huge memory.
If the map size is large, I think that it is better to notify the warning and end the program.

## Specifications

  - Ubuntu version: 16.04
  - ROS Version: kinekic
  - Autoware branch: develop

[2017-12-11 11:21] #969 closed

[2017-12-12 00:14] kitsukawa commented on #818
As @hatem-darweesh mentioned, dtlane represents center line of the lane. And Dist is cumulative distance from the origin of the lane.

[2017-12-12 00:14] #818 closed

[2017-12-13 05:49] liuyanliangm opened #975 "how to make a 3D map before installing Autoware on the car ."
I  have a  velodyne16  lidar ,  I want to build a 3D map   in advance,  but how ?which opensource could i  use ?  very grateful  if  anyone help .

[2017-12-13 06:23] daifuku07 opened #976 "Build error on Ubuntu 16.04 with OpenCV 3.3"
Fill-out only one section depending on whether you are reporting a bug or a new feature.

# Bug
## Expected Behavior
Be able to build correctly if you are using OpenCV 3.x on Ubuntu 16.04.

## Actual Behavior
https://github.com/CPFL/Autoware/blob/master/ros/src/computing/perception/detection/packages/lidar_tracker/CMakeLists.txt#L38
require module "opencv-3.2.0-dev"
So, don't work on different Ope

[2017-12-13 06:35] 130s commented on #976
Not entirely sure but likely [this regression](https://discourse.ros.org/t/opencv-3-3-1-is-breaking-builds-in-kinetic/3384/1)?

[2017-12-13 08:01] yk-fujii commented on #976
I think that it is not a bug.
Autoware refers to OpenCV installed by ROS by default.

[2017-12-13 08:14] daifuku07 commented on #976
I agree that it is not critical critical bug.
But, it is possible that the user has installed the OpenCV version that he uses.
If it works on other than opnecv 3.2.0, I think CmakeLists.txt should be edited.
In my environment(OpenCV 3.3.0), I remove "opencv-3.2.0-dev" on CMakeLists.txt, so build error is not occurred.

[2017-12-13 08:37] liuyanliangm commented on #975
should we first make  a 3D map without using Autoware ?

[2017-12-13 09:09] sujiwo commented on #976
You can use installed OpenCV outside ROS. Just set environment variable
CMAKE_PREFIX_PATH before calling catkin or cmake.

2017-12-13 17:14 GMT+09:00 daifuku07 <notifications@github.com>:

[2017-12-14 04:52] kitsukawa commented on #975
By using ndt_mapping in Autoware, you can create 3D map from rosbag including velodyne data.

[2017-12-14 05:26] liuyanliangm commented on #975
Thanks for replying. But could i make a 3D  map without using Autoware?  For example, RTK-SLAM Backpack, like this one:  https://www.youtube.com/watch?v=A_mwtKRmrXI

[2017-12-16 13:54] amc-nu opened #979 "[feature] Filter clustered objects outside the road"
# New Feature
If the ADAS Map contains road data, it might be used to filter objects outside the drivable area.

[2017-12-16 14:22] #979 closed

[2017-12-17 02:32] amc-nu opened #981 "[Feature] Add 3D Model for Autonomous car "Milee""
# New Feature
Add RVIZ 3D model compatible for Milee Autonomous vehicle.
https://robotstart.info/2017/12/15/milee-gtc.html

[2017-12-17 02:36] #981 closed

[2017-12-17 05:14] yk-fujii commented on #976
The default version of ROS seems to be changed to 3.3.
We should fix this. Im sorry that I did not grasp it.
http://repositories.ros.org/status_page/ros_kinetic_default.html?q=opencv3

[2017-12-18 03:08] asimay opened #983 "gnss_callback logic is strange when first initial set."
https://github.com/CPFL/Autoware/blob/master/ros/src/computing/perception/localization/packages/ndt_localizer/nodes/ndt_matching/ndt_matching.cpp#L532

# Bug
## Expected Behavior
`previous_gnss_pose ` is static variable.
so in line 544, if first variable at here, the `previous_gnss_pose` is 0 actually,  so at line 560, `offset_x ` variable is meaningless at all.
the logic is strange at first initi

[2017-12-18 03:58] YamatoAndo commented on #983
Thanks for your report.
I will fix this bug.

[2017-12-18 05:30] asimay commented on #983
welcome. glad to contribute to your great package!

[2017-12-18 05:43] asimay opened #986 "initialpose_callback() current_pose.z value maybe not be correct."
https://github.com/CPFL/Autoware/blob/master/ros/src/computing/perception/localization/packages/ndt_localizer/nodes/ndt_matching/ndt_matching.cpp#L576

# Bug
## Expected Behavior
at line 615, because only compared x & y, not include z,  when run at line 619 or 622, the z will not be the most suitable z if points have similar (x and y) but different z value, the for loop will terminate and won't ch

[2017-12-18 06:51] YamatoAndo commented on #986
Thank you for the report.

I think that you are right.
However, initialpose topic generated from 2D Pose Estimate of RViz does not include z.
Therefore, it is necessary to estimate from x and y.

How do you think that it is better to find the most suitable z?

[2017-12-18 09:19] #976 closed

[2017-12-18 09:38] asimay commented on #986
dear, @YamatoAndo,  I think you are right.
maybe we can set the most suitable z value to vehicle base_link z value or lidar z value, this is better than very big z value.

[2017-12-18 13:26] amc-nu opened #987 "[fix/feature] Left Traffic Signals are shown using the OTHER marker"
# New Feature
Add color to distinguish the traffic signals with different IDs than 1,2,3,4.

[2017-12-18 15:18] arashroomi commented on #292
I am looking into the vehicle/ZMP file to understand the connection of the Autoware to the vehicle and it seems that the code HevCnt.h includes a library named: "HevControl.h". But I cannot find the code for this library in any Autoware directory. Can you help me in this regard? Is it deliberately not included in the files?

[2017-12-19 03:11] asimay opened #989 "bug in Ndt_matching"
https://github.com/CPFL/Autoware/blob/master/ros/src/computing/perception/localization/packages/ndt_localizer/nodes/ndt_matching/ndt_matching.cpp#L1071

# Bug
## Expected Behavior
at line 1071,  it seems no matter `use_predict_pose`  is, it always will be set to ` 0`.
so from line 1073 to 1091, it always run `if (use_predict_pose == 0)`  block.

## Actual Behavior

## Steps to Reproduce the Proble

[2017-12-19 03:14] asimay commented on #989
if you can send me more detail info of the points_callback() function logic, I could review more detail.

[2017-12-19 04:20] YamatoAndo commented on #989
@asimay  I thought that was strange, too.

@kitsukawa What do you think?
If it is always 0 and there is no problem, I'll delete the useless code and fix it

[2017-12-19 04:49] YamatoAndo commented on #986
@asimay To get vehicle base_link z value or lidar z value, you need the "map to base_link" TF. Therefore, it can not be given as the first initial position.

[2017-12-19 04:51] amc-nu opened #991 "[feature] Select PointsDownsampler package input topic"
# New Feature
Allow the nodes belonging to PointsDownsampler to select the pointcloud input topic.

[2017-12-19 05:33] #991 closed

[2017-12-19 06:00] kitsukawa commented on #989
@YamatoAndo @asimay use_predict_pose is set 0 on purpose to disable temporarily. I tried to use predict pose to keep localization when matching fails, but it didn't work. So can you comment out the code related to predict_pose?

[2017-12-19 06:11] kitsukawa commented on #986
@asimay Thank you for the comment. The purpose of this callback is to initialize the matching so the accurate value is not necessary. I think just estimating height from x and y is enough because it is working well to start localization.

[2017-12-19 11:28] kitsukawa commented on #975
I think it is possible. There are several method to create map using lidar. But I don't know much about the method you mentioned.

[2017-12-19 11:28] #975 closed

[2017-12-19 14:35] asimay commented on #986
ok。 @YamatoAndo @kitsukawa ，how about set z to 0?

[2017-12-19 22:19] ben-swain opened #992 "Calibration Toolkit not Receiving Point Cloud"
Point cloud is not received by calibration toolkit using `Camera -> Velodyne`.
The toolkit is not subscribing to the pointcloud topic named `/velodyne_points`.

#### Steps to Reproduce the Problem

  1. Play rosbag containing `/camera/image_raw` and `/velodyne_points`
  2. Launch Calibration Toolkit from Sensing tab
  3. Select image topic and `Camera -> Velodyne`

#### Expected Behavior
I expect

[2017-12-19 23:23] alexanderhmw commented on #992
The topic of received Velodyne points should be "/points_raw".
See:
https://github.com/CPFL/Autoware/blob/a5c51623d9055b28a33b8bdfc853a0dd1f5b6187/ros/src/sensing/fusion/packages/calibration_camera_lidar/nodes/calibration_toolkit/mainwindow.cpp#L87-L88

[2017-12-20 00:59] asimay commented on #989
how about use probability to predict pose? Now AI is so popular in the world.

[2017-12-20 16:35] dlounis opened #993 "2 build errors due to mosquitto"
Dear all,
I receive a build error when building the ubuntu 14.04 version of AW due to mosquitto-dev :

home/me/Autoware/ros/src/socket/packages/mqtt_socket/nodes/mqtt_receiver/mqtt_receiver.cpp:72:65: error: cannot convert ‘bool’ to ‘void*’ for argument ‘2’ to ‘mosquitto* mosquitto_new(const char*, void*)’
   mqtt_client = mosquitto_new(mqtt_client_id.c_str(), true, NULL);

home/me/Autoware/ros/sr

[2017-12-21 02:39] hakuturu583 commented on #898
@dejanpan Sorry for my late reply. I choose latter and I will add detailed documentation about my Pull Request. Please wait.
Thank you.

[2017-12-21 11:36] MadCauchy opened #994 "Cannot use GPU by launching dpm_ttic detector in PX2"
Hallo Autoware:

I am trying to use the dpm-ttic detector in PX2. At first i set Use GPU as true, the detector doesn't work. The node is not launched. If i set it as false, the function can be started, but it performs not really fast. Because part of the advantage of PX2 is its powerful GPUs. I really hope it can be fixed.
the error message is as following:

and then i checked log file:

## Specif

[2017-12-21 11:44] yk-fujii commented on #994
We will deprecate dpm in ner future.
So, we recommend using DL based detector such as SSD or YOLO.(autoware can use these dl based detector)

Did you have to use dpm?
If so, please tell me the version of SDK on DPX2 you are currently using.

[2017-12-21 13:32] MadCauchy commented on #994
Thank you for your answer. I use the run file DriveInstall_4.1.8.0L_SDK_b43.run.  The version of SDK is 4.1.8.0. I will take your advise and try SSD or YOLO later.

[2017-12-22 05:22] YamatoAndo opened #996 "[Bug] feat_proj does not considered the possibility that the ID of the ADAS map does not start with 1"
# Bug
feat_proj does not considered the possibility that the ID of the ADAS map does not start with 1.

When I experimented with the ADAS map starting at number 10000001,
processing was delayed because more than 10000000 arrays were generated.

## Specifications

  - Ubuntu version: 16.04
  - ROS Version: kinekic
  - Autoware branch: develop, master

[2017-12-22 08:58] zyyfly2010 opened #999 "ndt_mapping will crash with gpu option"
Fill-out only one section depending on whether you are reporting a bug or a new feature.

# Bug
## Expected Behavior
We want to use ndt_mapping to build the map with GPU.

## Actual Behavior
But it will crash after several minutes. The log is below:
Error: an illegal memory access was encountered /home/xxx/autoware/Autoware/ros/src/computing/perception/localization/lib/fast_pcl/ndt_gpu/src/NormalD

[2017-12-22 09:26] YamatoAndo commented on #986
@asimay  If you do not use get_height option, the z value will be 0.
(Although it is not necessarily 0 because TF conversion is included at line 584)

[2017-12-22 11:00] zyyfly2010 commented on #999
And with some other rosbag，it can work well for a while and then crash by another problem as below:

-----------------------------------------------------------------
Sequence number: 3885
Number of scan points: 17609 points.
Number of filtered scan points: 1411 points.
transformed_scan_ptr: 17609 points.
map: 5796352 points.
NDT has converged: 1
Fitness score: 12.4415
Number of iteration: 0
(x,y,

[2017-12-22 22:22] ben-swain opened #1000 "Cannot Load Message: autoware_msgs/projection_matrix"
When I run Calibration Publisher in the Sensing tab and then `rostopic list`, I can see `/camera/projection_matrix` in the list, but `rostopic echo /camera/projection_matrix` results in the following error:

`ERROR: Cannot load message class for [autoware_msgs/projection_matrix]. Are your messages built?`

Overall, I'm trying to use Points Image, but it requires `/projection_matrix` to be publishe

[2017-12-25 02:50] YamatoAndo commented on #1000
@ben-swain Thanks for the report.
Please execute the following command and try again.
[code]

[2017-12-25 02:53] #959 closed

[2017-12-25 03:22] ahuer2435 opened #1001 "error when click map in Runtime Manager"
Fill-out only one section depending on whether you are reporting a bug or a new feature.

# Bug
## Expected Behavior
it will appear “ok” in “Runtime Manager--->map and next to ref” when click "map"

## Actual Behavior
1. no "ok" appear
2. error info in terminal as follow:
[ERROR] [1514170973.791330698]: Usage:
[ERROR] [1514170973.791367849]: rosrun map_file vector_map_loader [CSV]...
[ERROR] [1514

[2017-12-25 04:23] ben-swain commented on #1000
Thanks @YamatoAndo, it works now

[2017-12-25 05:22] YamatoAndo commented on #1001
@ahuer2435 Thanks for the report.
Are there .pcd files in ~ /.autoware /data/map/pointcloud_map?
And are there .csv files in ~ /.autoware /data/map/vector_map?

If not found, please download files in step 1.2.
And then, execute the following command of step 1.4 again.
`
~/.autoware $ sh my_launch.sh
`

[2017-12-25 05:41] ahuer2435 commented on #1001
@YamatoAndo
.pcd and .csv files are all exist. step 1.2 already done. as following:
![error](https://user-images.githubusercontent.com/29789591/34333492-59a6c512-e978-11e7-9b7b-2bba066e6000.png)

I find  main() function of points_map_loader.cpp need 3 parameters. and my_map.launch as below:
<launch>

  <include file="/home/yanqiao/.autoware/data/tf/tf.launch"/>

  <node pkg="map_file" type="points

[2017-12-25 05:45] ahuer2435 commented on #1001
![error2](https://user-images.githubusercontent.com/29789591/34333637-deb0b1fe-e979-11e7-84a3-a82cb7333ab6.png)

[2017-12-25 05:49] YamatoAndo commented on #1001
hmm... There is not file path in it.
In my environment(Ubutnu16.04 kinetic), as below

[code]

[2017-12-25 05:53] YamatoAndo commented on #1001
Probably I think that my_launch.sh is not working well.

[2017-12-25 07:24] ahuer2435 commented on #1001
Yes, the problem is my_launch.sh. I run my_launch.sh before tar commands. I think this is the problem. I delete the my_launch dir, then rerun my_launch.sh. it work well. thanks @YamatoAndo

[2017-12-25 07:24] #1001 closed

[2017-12-25 11:19] YamatoAndo opened #1004 "[Feature]If the gear is reverse, set speed to negative"
# New Feature
In the current version, even if it is reverse, speed will be a positive value.
So if the gear is reverse, set speed to negative.

Especially when using can information with ndt_matching, position estimation fails at back.

[2017-12-25 12:49] dejanpan commented on #292
@arashroomi there are different ways to have Autoware to talk to different vehicles' CAN interfaces.
It depends on the drive-by-wire interface. I am aware of 2:
- pacmod from AutonmouStuff: https://github.com/astuff/ros_pacmod
- dataspeed from DataSpeed: http://wiki.ros.org/dbw_mkz_can

[2017-12-25 12:57] dejanpan commented on #991
how about if the pointcloud is in different TF frames? will the rest of autoware handle this?

[2017-12-25 12:58] dejanpan commented on #992
@ben-swain it seems you got the fix, correct? if not reopen.

[2017-12-25 12:58] #992 closed

[2017-12-25 13:00] dejanpan commented on #994
closing since @MadCauchy will use different detector.

[2017-12-25 13:00] #994 closed

[2017-12-25 13:02] #1000 closed

[2017-12-25 13:36] kitsukawa commented on #991
@dejanpan points_downsampler just reduces the number of pointcloud. The frame_id will be passed on to downsampled pointcloud. ndt_matching publishes TF between map frame and the same frame as input pointcloud. So there will be no problem even if the pointcloud is in different TF from "velodyne".

[2017-12-25 15:45] ben-swain commented on #992
The issue was solved. Thanks @alexanderhmw

[2017-12-27 02:33] asimay commented on #1004
I think this may consider the vehicle's dynamic model for reverse back. it's not same with forward dynamic model.

[2017-12-27 07:24] YamatoAndo commented on #1004
I thought that it was not necessary to consider it.
Could you tell me why you think that way?

The code to convert can-information to odometry is included in the following file,
It seems like I have no problems handling forward and backward in the same way.

https://github.com/CPFL/Autoware/blob/master/ros/src/computing/perception/localization/packages/autoware_connector/nodes/can_info_translator/

[2017-12-27 09:06] #996 closed

[2017-12-31 17:08] andoh104 opened #1009 "Build Error with Cuda9"
# Bug
This issue is same as #910. It was Cuda9 problem.

## Expected Behavior
No Error or Need to limit using Cuda9

## Actual Behavior

[code]

## Steps to Reproduce the Problem

`~/Autoware/ros$ ./catkin_make_release ` l

After removing this macro from CUDA9 header file(/usr/local/cuda/include/crt/common_functions.h), then this error don't occur.
` #define __CUDACC_VER__ "__CUDACC_VER__ is no lo

[2017-12-31 17:13] andoh104 commented on #910
Reported on #1009

[2017-12-31 17:13] #910 closed

[2017-12-31 21:24] anhnv3991 commented on #1009
Install Cuda 8 instead of Cuda 9 can fix that problem.
Maybe some files included in ndt_gpu use the __CUDA_VER__ macro in the ‘if’ command to check the current CUDA version. However, in CUDA 9, that macro is defined as a string, not a number, so compare it with a number in the ‘if’ command is invalid.

[2018-01-02 02:26] asimay commented on #898
hi, all, I test this package. It works good! it can show your GPS trajectory on google map, by this tool, you can clearly see your trajectory is accordance with your actual trajectory or not. it's very well.

but only 1 issue, the package works very slow for bag data, when show gps trajectory, it almost occupy all PC resources, this leads to PC is running very slow. I think this should be optimize

[2018-01-02 07:50] hakuturu583 commented on #898
@asimay I made a Message Per Plot property in this plugin.(see:https://github.com/hakuturu583/gps_rviz_plugin)
This plugins recieve sensor_msgs/NavsatFix message more than onec and after that, call the Google Static Map API.
So if you feel this plugin works slowly, please increase Message Per Plot property.

[2018-01-02 08:53] andoh104 commented on #1009
I can't found __CUDACC_VER__ macro under the Autoware/ros/src, but I found it it in /usr/include/eigen3/Eigen/src/Core/util/Macros.h .
I think Cuda9 and eigen seems to conflict and it is not Autoware's problem.
I found this information :https://devtalk.nvidia.com/default/topic/1023476/boost-under-cuda-9/

I made a temporally patch code to fix this.

[2018-01-03 09:11] asimay opened #1010 "[Question:] UTC time and ROS time calculation."
https://github.com/CPFL/Autoware/blob/master/ros/src/computing/perception/localization/packages/gnss_localizer/nodes/nmea2tfpose/nmea2tfpose_core.cpp#L110
https://github.com/CPFL/Autoware/blob/master/ros/src/computing/perception/localization/packages/gnss_localizer/nodes/nmea2tfpose/nmea2tfpose_core.cpp#L155

above code,
in line 110, orientation_time_ is UTC time, and in 155 line, msg->header.stam

[2018-01-04 03:19] ahuer2435 commented on #565
Autoware seems to provide a tools for product vector map from PCD files, as : https://maptools.tier4.jp/vector_mapper_description/ .
But I could not use it yet, it prompts " Now Creating... Please wait for creating your environment."

[2018-01-05 03:25] asimay opened #1012 "in new version, when launch runtime manager, always pop out some warning info."
even when execute > sudo ./run , it will pop out warning info like below:

# Bug
## Expected Behavior
should eliminate the warning info

## Actual Behavior

## Steps to Reproduce the Problem

  1.
  1.
  1.

## Specifications

  - Ubuntu version:
  - ROS Version:
  - Autoware branch:

# New Feature
Describe where does new feature request come from. Add high-level picture of how the new feature sho

[2018-01-05 15:44] dlounis commented on #951
@dejanpan
Sorry for the delay. I was very busy lately.
What I said in my question is true for both master and develop branches.
I've use these datasets :
2011_09_26_drive_0014_sync
2011_09_26_drive_0091_sync
and
2011_09_26_drive_0093_sync

I am not using a launch to play the data. Rather, I do use a package that transforms kitti data to bag files https://github.com/tomas789/kitti2bag (I've already

[2018-01-05 17:03] dlounis commented on #957
Thank you !

[2018-01-06 03:50] wsung1 opened #1013 "Build error"
Hi, forks,
While doing ./catkin_make_release, I ran into the followings
[ 9%] Built target orb_slam2
make: *** [all] Error 2
Invoking "make -j8" failed.
Almost all related suggestions available here did not work for me.
FYI, I'm using ROS Indigo over Ubuntu 14.04.
Any idea?
...
ptxas info    : Function properties for normalizeAndTruncate
    0 bytes stack frame, 0 bytes spill stores, 0 bytes spill

[2018-01-07 09:33] wsung1 commented on #812
@Fancy93 @sujiwo Hi, may I ask you whether this problem was solved?

[2018-01-07 09:37] sujiwo commented on #812
Please show full error message?

2018-01-07 18:33 GMT+09:00 wsung1 <notifications@github.com>:

[2018-01-07 09:40] wsung1 commented on #812
@sujiwo Nice to talk to you! Actually, my problem a bit differs with this. My problem has been posted as https://github.com/CPFL/Autoware/issues/1013. Please help!

[2018-01-07 10:43] wsung1 commented on #847
@sujiwo Dear sujiwon, thanks for your support. I'm a newbie here, so please bear with me. According to talks here, you asked Hierom to do 'catkin_make --pkg orb_localizer' instead of './catkin_make_release'. Does it mean 'catkin_make --pkg orb_localizer' could substitute for './catkin_make_release'? In my case,  'catkin_make --pkg orb_localizer' resulted in no problem; yet './catkin_make_release'

[2018-01-07 12:02] wsung1 commented on #1013
As advised before, I did 'catkin_make --pkg orb_localizer' (instead of './catkin_make_release') and the result is as follows. Does it indicate that Autoware is well installed?

Base path: /home/futuremobilitylab02/Autoware/ros
Source space: /home/futuremobilitylab02/Autoware/ros/src
Build space: /home/futuremobilitylab02/Autoware/ros/build
Devel space: /home/futuremobilitylab02/Autoware/ros/devel

[2018-01-07 12:24] sujiwo commented on #847
catkin_make --pkg orb_localizer compiles only this package, not the whole
Autoware workspace as ./catkin_make_release does. So when the former
results in no error but the latter does, I think the error does not lie in
orb_localizer.

2018-01-07 19:43 GMT+09:00 wsung1 <notifications@github.com>:

[2018-01-07 12:25] sujiwo commented on #1013
This means that the error does not lie in orb_localizer.

2018-01-07 21:02 GMT+09:00 wsung1 <notifications@github.com>:

[2018-01-07 12:29] wsung1 commented on #847
@sujiwo Thanks for your quick reply, sujiwo. Then, can I ask you what can be the problem? FYI, I have fully followed the instruction (Autoware_UsersManual_v1.1.pdf) in terms of OpenCV version and something like that.

[2018-01-07 14:01] wsung1 commented on #1013
@sujiwo Thanks to your kindness, I have just resolved this problem. Its cause is unclear so I reinstalled the newest version of Autoware from scratch. Thanks, anyway.

[2018-01-07 14:05] #1013 closed

[2018-01-07 15:22] wsung1 opened #1014 "~/.autoware/data"

[2018-01-07 15:27] #1014 closed

[2018-01-08 10:42] aztinki opened #1015 "Yolo2 config"
# Bug
Cannot configure parameters for Yolo2
## Expected Behavior
Select GPU, change score threshold for Object Detection

## Actual Behavior
[app] button not responsive

## Steps to Reproduce the Problem

  1. run Autoware for Object Detection use YOLO-2

## Specifications

  - Ubuntu version: 14
  - ROS Version: Indigo
  - Autoware branch: master

[2018-01-09 01:50] ben-swain opened #1016 "Points2image process dying, related to /camera"
# Bug
## Expected Behavior
I expect the points2image process to not die when I run a node which subscribes to topic /camera/image_raw or when I use `rostopic echo /camera/image_raw`.

## Actual Behavior
After running `roslaunch runtime_manager points2image.launch`, topic /points_image is published correctly. But when I run my /camera/image_raw subscriber node or `rostopic echo /camera/image_raw`,

[2018-01-09 03:48] yk-fujii opened #1017 "Vectormap is not displayed in RViz 1.12.14"
# Bug
The Vectormap message not accepted by RVIZ due to the following PR.
https://github.com/ros-visualization/rviz/issues/1142
https://github.com/ros-visualization/rviz/pull/1167
Normalization of quaternions is required.

![image](https://user-images.githubusercontent.com/1758804/34704103-4d0afe18-f53a-11e7-925d-8d7d931eaab7.png)

## Specifications
  - Ubuntu version: 16.04
  - ROS Version: kinet

[2018-01-09 06:26] yk-fujii commented on #1017
Other nodes that use marker seem to be similar.

[2018-01-09 08:01] tyzaizl opened #1018 "Unknown CMake command "_qt5_Core_check_file_exists""
When I try to do
./catkin_make_release
there is an error:
### Unknown CMake command "_qt5_Core_check_file_exists"

# Bug
# Expected Behavior
No Error

# Actual Behavior
...
-- +++ processing catkin package: 'filters'
-- ==> add_subdirectory(computing/perception/localization/lib/fast_pcl/filters)
CMake Error at /usr/lib/x86_64-linux-gnu/cmake/Qt5/Qt5Config.cmake:45 (_qt5_Core_check_file_exists):

[2018-01-09 08:17] ben-swain commented on #1016
The problem was solved by changing the way my pointgrey cameras launch. I can add more details tomorrow. I'm not sure why it fixed the problem.

[2018-01-09 09:23] aohsato commented on #1017
This occurred by not normalized quaternion in vizualization_msgs::Marker.
When we call Marker constructor, then quaternion filled by zero is created.
For now, I added this line on each node publishing Marker, so then it's solved.
[code]

[2018-01-09 12:05] MadCauchy commented on #958
Hi,
i have a similar problem with model VOC0712. Have you solved the problem? Thanks a lot!

[2018-01-09 13:42] MadCauchy opened #1020 "SSD node cannot be launched"
Hello Autoware,

i followed the instruction of ssdcaffe installation. And i choose to use the trained model VOC0712. I downloaded the package into the model folder of ssd. Then I try to use the Runtimemanager to launch the ssd node, but it failed. The error message is as following:

I have fund a similar issue with coco model.  #958

## Specifications

  - Ubuntu version:16.04
  - ROS Version:kine

[2018-01-09 14:49] dlounis commented on #914
Hello,

@aztinki did you manage to use ndt_mapping with kitti bag files?

I tried with a bag file obtained from transforming kitti data to rosbag (https://github.com/tomas789/kitti2bag).

I have followed the procedure described in AW tutorial on generating a map while playing a rosbag. I have renamed the topic kitti/velo/pointcloud to /points_raw but it did not work : I get this error :

Transform

[2018-01-09 15:59] MadCauchy opened #1021 "How to add new drivers for camera and lidar in GUI"
Hi, Autoware

I'm trying to use the camera and Lidar in my lab with Autoware system.  I have already found the correct drivers for camera GMSL and Lidar iBeo Lux4. I want to add these two drivers into GUI runtimemanager. But I don't know how. I have tried add some lines in Autoware/ros/src/util/packages/runtime_manager/scripts/sensing.yaml. Although two icons are correctly added, the node cannot b

[2018-01-10 00:56] kitsukawa commented on #914
@dlounis I think the frame id of velodyne scan should be "velodyne" instead of velo_link.
Can you create rosbag again after modifying the code below(velo_link -> velodyne)so that the frame id of velodyne scan to be "velodyne".
https://github.com/tomas789/kitti2bag/blob/master/bin/kitti2bag#L317

[2018-01-10 05:51] yk-fujii commented on #1017
https://discourse.ros.org/t/fix-released-rviz-1-12-14-not-displaying-markers-etc-with-invalid-quaternions/3610

[2018-01-10 06:38] #1017 closed

[2018-01-10 14:05] yk-fujii opened #1022 "DecisionMaker does not responding when using specific vectormap"
# Bug
decisionmaker doing it incorrectly when parsing points that make up an intersection.
DecisionMaker does not responding when using specific vectormap.
## Specifications
  - Ubuntu version:16.04
  - ROS Version: kinetic
  - Autoware branch: master/develop

[2018-01-11 02:09] tyzaizl commented on #1018
sorry,
The reason of this error is that I complied the "PCL-1.8" by myself and install another "PCL-1.7" automatically when installed ROS. Uninstall "PCL-1.8", this error will be fixed.

Hope this can help others.

[2018-01-11 02:09] #1018 closed

[2018-01-11 03:18] Sindhura-b commented on #937
@dlounis I got similar output on my terminal, can you explain me what you did next to visualize point clouds from kitti?

[2018-01-11 11:51] aohsato opened #1024 "Update drive-px2 dependencies"
# Bug
For now, the versions of SSL package was updated from 4.9 to 4.10.
https://github.com/CPFL/Autoware/blob/develop/docs/en/installation_with_drivepx2.md

[code]

Finally, how do you think to deal with continuous updates of dependencies like this?

  - Ubuntu version: 4.9.38-rt25-tegra
  - ROS Version: kinetic
  - Autoware branch: develop

[2018-01-11 14:53] dlounis commented on #914
@kitsukawa
I managed to fix the issue with the map frame... and velo frame name.
Unfortunately I still cannot save map to PCD file... I don't know what I am doing wrong???

[2018-01-12 00:41] xu48169172 opened #1025 "how to install autoware for ros2?"
Fill-out only one section depending on whether you are reporting a bug or a new feature.

# Bug
## Expected Behavior

## Actual Behavior

## Steps to Reproduce the Problem

  1.
  1.
  1.

## Specifications

  - Ubuntu version:
  - ROS Version:
  - Autoware branch:

# New Feature
Describe where does new feature request come from. Add high-level picture of how the new feature should work.

[2018-01-12 09:34] AhrenKONG opened #1026 "Autoware Hydro version link"
Can you guys tell me how to get the ros hydro version Autoware. You mentioned that "use checkout revision before 2015/OCT/21 if you use Autoware on ROS hydro or Ubuntu 13.04, 13.10.", but in "tags" I only can find 1.0.0 version which also cannot work in ros hydro. So, can you give me a link to download hydro version Autoware zip? Thank you very much and Hope you have a nice day.

[2018-01-12 15:49] dlounis commented on #533
Hi,

I am trying to build an entire map from a kitti dataset. I am wondering if the component that deals with large maps (automatically saves PCD sub-maps every N meters) is already included in the version of Autoware that I have installed recently (from Master branch).

Regards.

[2018-01-15 06:09] dejanpan commented on #1024
@aohsato you need to have an Autoware branch and CI pipeline that builds for ARM64 and their version of Ubuntu. CI has to always start building from a clean and latest Ubuntu version.

I suggest to have 1h workshop with Apex and we can show you how CI is done correctly.

[2018-01-15 06:47] yk-fujii commented on #1021
Could you run your node by using rosrun/roslaunch commands (or a command you added to the "run" line)?
The runtime manager executes the command described in "run" line.

e.g.
https://github.com/CPFL/Autoware/blob/master/ros/src/util/packages/runtime_manager/scripts/sensing.yaml#L27

[2018-01-15 06:52] yk-fujii commented on #987
Is this issue fixed? Would you close this?

[2018-01-15 06:55] #987 closed

[2018-01-15 06:57] #724 closed

[2018-01-15 08:19] dlounis opened #1028 "NDT_mapping in practice"
What is the difference between NDT_mapping and Approximate_NDT_mapping ?

Which shall we use in order to perform mapping ?

Which one is used by AW developers to produce Moriyama map ?

Thanks.

[2018-01-15 08:43] wsung1 commented on #1021
@MadCauchy In fact, I have a similar problem with all different sensors. Would you share your result from following instructions from @yk-fujii? It will be greatly appreciated.

[2018-01-15 08:59] wsung1 opened #1029 "Camera option selection"
Hi, Autoware,
Grasshopper3 is known to be used for a camera by Autoware. Which option are you using?

![image](https://user-images.githubusercontent.com/26803880/34934445-d50d2d1c-fa1d-11e7-8f42-700a32026db8.png)

[2018-01-15 09:17] kitsukawa commented on #1028
@dlounis ndt_mapping loads all the pointcloud as map. approximate_ndt_mapping loads a portion of the current map and outputs PCDs every certain distance. If you are going to create narrow range of map, use ndt_mapping. If you are going to create long distance of map, it is better to use approximate_ndt_mapping. The sample Moriyama map is created in another method called MMS(Mobile Mapping system)

[2018-01-15 09:21] kitsukawa commented on #533
@dlounis You can use approximate_ndt_mapping. It output PCD submaps every N meters. You can change N from app dialog next to approximate_ndt_mapping in Computing tab.

[2018-01-15 09:25] kitsukawa commented on #914
@dlounis Do you use ndt_mapping or approximate_ndt_mapping? approximate_ndt_mapping automatically outputs PCDs in ~/.ros directory every N meters. If you use ndt_mapping, to output pcd, you need to open app, specify the directory and file name and click PCD OUTPUT. See the video below.
https://www.youtube.com/watch?v=ss6Blrz23h8

[2018-01-15 10:36] dlounis commented on #914
What's the difference between NDT and Approximate_NDT ? Is the map provided in Moriyama data sample (for demos) built using NDT or Approximate_NDT ?

Thanks.

[2018-01-15 10:38] kitsukawa commented on #533
@dlounis Yes. submap_size.

[2018-01-15 10:45] dlounis commented on #533
@kitsukawa what does this size correspond to ??? lengths ? area ? what are the units ? meters ? square meters ?

[2018-01-15 21:48] dlounis opened #1030 "mapping/localization : issue with frames"
Hi,

I am following AW TierV tutorial to reproduce localization results. (localizing by matching current scan with saved map)
I have the following issue :
When I display on RVIZ : - the raw_points (scans) and the map are not on the same frame system, they are very far from each other while they have to overlap (the scans of the lidar must overlap the map).

I looked into tf but couldnt figure out

[2018-01-16 01:06] kitsukawa commented on #533
@dlounis It's distance. The units are meters.

[2018-01-16 01:17] kitsukawa commented on #914
@dlounis ndt_mapping and approximate_ndt_mapping are the same algorithm for scan matching. As I said in #1028, they are different where to load map as reference. Regarding sample Moriyama data, the pointcloud of moriyama is collected by special measurement system called Mobile Mapping System. It is provided by other survey company. The data is not built using Autoware.

[2018-01-16 10:40] #1022 closed

[2018-01-16 15:58] dlounis opened #1031 "how is the transformation from map to base_link calculated ?"
where is the transformation between map frame and base_link calculated ? Which process provides this transformation ?

When I perform localization based on AW tutorial (tierV) the lidar scans do not overlap the map generated earlier by ndt mapping.

Thanks.

[2018-01-17 01:42] kitsukawa commented on #1031
@dlounis ndt_matching publishes transformation between map frame and base_link.
Can you follow the instruction in the video below?
https://www.youtube.com/watch?v=ODlxMzGTJzw

[2018-01-17 07:41] amc-nu opened #1032 "[bug] Euclidean Clustering slow performance"
# Bug
## Expected Behavior
Euclidean Clustering should perform at the same frequency as the lidar input.

`$ rostopic hz /points_cluster`

[code]

## Actual Behavior
When launching euclidean clustering without vector map or wayarea available, euclidean clustering execution is slow (~1fps)

[code]
## Steps to Reproduce the Problem

  1. Play Rosbag with point cloud data available
  1. Launch Euclid

[2018-01-17 08:26] #1032 closed

[2018-01-17 09:28] dlounis commented on #1031
@kitsukawa Thanks. It is not easy to initialize the position manually therefore I used the GNSS in ndt_matching (together with nmea2tfpose node).
I managed to make it run correctly with this setup using PCD files provided in the moriyama sample. However, when I use the PCD files from the same sample that I have generated using approximate_ndt_mapping, and following the same procedure mentioned bef

[2018-01-17 11:08] dlounis commented on #1031
After investigating deeper it looks like the generated map and the lidar scans when displayed on RVIZ during localization, are not projected on the same frame. A frame transformation is missing from the lidar scans (points_raw) and the map points. I don't know how to deal with that so far.

[2018-01-18 02:28] gongyue666 opened #1034 "not get a normal path using astar_planner"
Fill-out only one section depending on whether you are reporting a bug or a new feature.

# Bug
## Expected Behavior
I want to get a smoother shortest path with hybrid A* using my robot.But now the path I get not good in a test environment in my computer.

## Actual Behavior
The path have many curves where I think it should be straight line .No obstacles between start and target pose but the path

[2018-01-18 11:14] dlounis opened #1035 "ndt_mapping then ndt_matching"
I want to perform localization using a map that was generated with approximate_ndt_mapping (pcd files).
I managed to generate such a map (both for kitti data as well as moriyama sample). I follow the steps provided in autoware documentation (tierV).

The issue I have is that when I perform ndt_matching, on RVIZ the map and the points_raw do not overlap because they are not on the same frame.

If I

[2018-01-18 14:20] dlounis opened #1036 "how does runtime manager know the relation between pcd submaps ?"
When using approximate_ndt_mapping, several pcd files are generated as submaps. Then, when activated in the map tab in runtime manager and displayed in Rviz, they are stitched together automatically.

I opened the pcd's and there is no information on how to sort them together (the viewpoint for all of them is 0 0 0 1 0 0 0). Therefore, I am wondering how does runtime manager retrieve the geometric

[2018-01-18 15:12] MadCauchy commented on #1021
I can use this command to start the node of camera:

`roslaunch gmsl_n_cameras gmsl_n_cameras.launch`

I insert the following lines to the file sensing.yaml

[code]

The option shows in the Runtime_Manager. But it did't work. The error message looks like this:

Then I tried to add a source command

[code]

It didn't work either. the error message is just exactly like before.

I also want to ask, w

[2018-01-19 01:22] asimay commented on #1036
you can see the code. code will load all pcd files and assemble the point together.

[2018-01-19 10:17] dlounis commented on #291
@sgzzgit  @elberthuang
I am facing the same issue.
I do not have a lidar though. I have generated pcd submaps from moriyama sample. Then, I launched ndt_matching using the generated pcd's and live lidar scans from moriyama bag file (the same that was used to generate the pcd's).
Unfortunately I still can't display the map and the live scans on the same frame in rviz. I have modified the TF launch

[2018-01-19 15:49] dlounis commented on #1031
any help ?

[2018-01-20 12:00] yk-fujii commented on #1024
First of all we will add docker. #1037

[2018-01-20 20:01] dlounis opened #1038 "ndt_matching : map points not transformed in world frame"
Fill-out only one section depending on whether you are reporting a bug or a new feature.

# Bug ndt_matching : map points not transformed in world frame
## Expected Behavior
map and ponts_raw should overlap (be in the same frame)

## Actual Behavior
points_raw are seen in the world frame
map points are seen in the map frame (far from world frame)

## Steps to Reproduce the Problem

  1. generate p

[2018-01-22 08:48] dlounis opened #1039 "image/range fusion for object detection on kitti data"
hello,

since there is no video data in the Moriyama sample, I am working with Kitti data. I am following the TierV tutorial step by step. I want to perform object detection using both image and range data (page 32).

My question is about the calibration file used in the tutorial (nic-150407.yml) and the calibration files provided in kitti datasets. I have opened the files in order to compare them

[2018-01-22 09:24] dlounis opened #1040 "kitti_player launch file : is there a way to automatically replay the data ?"
kitti_player launch file : is there a way to automatically replay the data ?

Thanks.

[2018-01-22 12:01] kitsukawa commented on #1038
@dlounis Which tf.launch do you use? The PCDs created by ndt_mapping/approximate_ndt_mapping has local coordinate(not global coordinate) so you need to load tf_local.launch(in Autoware/ros/src/.config/tf/ directory).

[2018-01-22 12:10] yk-fujii opened #1041 "Stop at stop line is a naive implementation"
Currently, stopping with stopline is a naive implementation of setting the target speed to 0 if found.
This implementation only supports stopping at a constant speed.

# New Feature
DecisionMaker and VelocitySet will do velocity planning with stopline as the target.

[2018-01-22 14:22] dlounis commented on #1038
@kitsukawa Hello, I have tried the tf_local.launch following your instruction and still have the issue of not seeing points_raw on the map. I have already tried the identity transform before and I have noticed that the world and map frames overlap (which is exactly what the tf_local.launch does).

The points_raw evolve on another frame very far from the map/world frames. Below are the outputs from

[2018-01-22 14:28] kitsukawa commented on #1038
@dlounis Can you send me the rosbag and PCDs?

[2018-01-22 15:05] dlounis commented on #1038
@kitsukawa Ok. I will send you the files. The rosbag is the moriyama sample : sample_moriyama_150324 :

http://db3.ertl.jp/autoware/sample_data/sample_moriyama_150324.tar.gz

the pcd's are in my dropbox :
https://www.dropbox.com/s/00zu44td665sry4/mori10_50_noimu.zip?dl=0

Please let me know if you experience any problem in downloading from my dropbox.

Thank you.

[2018-01-23 06:26] elberthuang commented on #291
@dlounis if you run moriyama bag file, you don't need to change anything. Just follow the steps.

[2018-01-23 08:04] dlounis commented on #291
@elberthuang Thnks for your reply. I have tried it many times with Moriyama data. If I do not use the PCD's generated by approximate_ndt_mapping (i.e. when using the provided PCD's) it works. But it has to work for PCD's the user generates.

Have you generated your own PCD's from Moriyama bag ?

[2018-01-23 08:21] dlounis commented on #1038
@kitsukawa Hello, have you had a chance to look into my pcd's ?

Thanks.

[2018-01-23 09:55] #874 closed

[2018-01-24 02:20] wsung1 commented on #976
Hi, @daifuku07 @yk-fujii,
I'm a newbie in here, so please bear with my poor question. While building Autoware, I've run across an error indicating that opencv-3.2.0 is required.
![screenshot from 2018-01-24 10-49-23_ catkin_make_release no package opencv-3 2 0 found_](https://user-images.githubusercontent.com/26803880/35311122-3774275e-00f8-11e8-9771-18e09994c113.png)
Now I'm running on
 - ROS 16.

[2018-01-25 08:37] ttomchy opened #1046 "Questions about the calibration part."
I am currently learning how to calibrate the camera and the velodyne . Now I am using the the  bag file which is provided. However when I trying to extract the laser points I can only select one line  of the points which is very less points. I don't know how to select more points as shown on the video ( https://www.youtube.com/watch?v=pfBmfgHf6zg) . It shows that they can select more points on the

[2018-01-25 08:58] amc-nu commented on #1046
Hello @ttomchy
Thanks for your interest
Please refer to the wiki article about calibration. You can find your answer there.
https://github.com/CPFL/Autoware/wiki/Calibration

[2018-01-25 14:13] amc-nu opened #1047 "[feature] Traffic Light recognizer based on MxNet framework"
# New Feature
Add a new node to `road_wizard` that allows to perform traffic light classification using the MxNet deep learning framework.

[2018-01-25 15:58] dlounis opened #1049 "autoware frames"
Hello,

please, can someone tell me what does the frame Mobility correspond to ?

Also, I wonder why is the frame World situated at (14771 84757 -39) from Map frame ?

Why are the map and the lidar scans in the moriyama example displayed in the World frame instead of the Map frame ?

Thanks a lot for your help.

[2018-01-26 03:15] wsung1 opened #1050 "cmd_param calibration is required"
Hello all,
By checking the type of LiDAR being connected to PC, the Runtime Manager said "cmd_param calibration is required" as shown below. Does anybody know what this means?
Thanks in advance.

![screenshot from 2018-01-26 09-29-08_launch ros node_vlp-16_cmd_param cal required_ _config](https://user-images.githubusercontent.com/26803880/35423619-fa78afa0-0291-11e8-8b80-0aab93564196.png)

[2018-01-26 03:45] wsung1 commented on #1046
Hi, @ttomchy @amc-nu,
Thanks for providing https://github.com/CPFL/Autoware/wiki/Calibration.
As a preparation for calibration, it says
1.1　Activate the camera.
　　　*Set the color and resolution same as Autoware.
1.2　Activate Velodyne.
Would you please tell me how to activate the camera and Velodyne (before 1.3 Run Autoware)?
I've actually observed such an error and Is this because I didn't activat

[2018-01-26 04:17] #1050 closed

[2018-01-26 07:21] wsung1 opened #1051 "cannot launch node of [grasshopper3_camera]"
Hi, Autoware,
Following the Autoware's setup, I'm using a grasshopper3. It is properly installed and I believe this can be checked by FlyCapture2
![screenshot from 2018-01-26 15-32-25_search flycapture](https://user-images.githubusercontent.com/26803880/35428707-e8267d42-02b3-11e8-8c3c-d4682142acc7.png)
However, when I roslaunch autoware_pointgrey_drivers grasshopper3.launch, an error occurs
![scr

[2018-01-26 10:12] mode89 commented on #915
Hi, everyone!

I'm having the same issue.

I think the problem is in the CMake scripts.
If you look to the line 81 of `gpu_euclidean_clustering_generated_gpu_euclidean_clustering.cu.o.Release.cmake`, you can see something like that:
[code]
As we can see the configuration of quotation marks is wrong. Replacing `"lidar_tracker"` with `'lidar_tracker'` eliminates the error.

I think the possible work

[2018-01-27 04:40] yk-fujii commented on #1040
Please read.
https://github.com/CPFL/Autoware/blob/master/ros/src/util/packages/kitti_pkg/kitti_player/src/kitti_player.cpp#L465-L505

[2018-01-27 04:40] #1040 closed

[2018-01-27 04:55] yk-fujii commented on #968
Is this still there?
Autoware usually works in multi-core.

[2018-01-27 06:33] wsung1 commented on #1051
Dear @amc-nu,
If you don't mind, please look over #1051. It might be just a piece of cake to you.
Thank you.

[2018-01-27 06:41] amc-nu commented on #1049
@dlounis Please disregard the `mobility` frame. Is not used.

Those coordinates are based on a Japanese method to localize in Japan.

`world` is a "local" frame (an intermediate one used by Autoware) used to avoid using huge numbers from the `map` frame.
http://www.ros.org/reps/rep-0105.html

[2018-01-27 06:41] #1049 closed

[2018-01-27 06:44] amc-nu commented on #1051
can you please show the real error?. it might be located in the ROS log. There are no details in the screenshot you shared, or run with screen output, so the actual error is shown.
http://wiki.ros.org/roslaunch/XML/node

[2018-01-27 06:48] amc-nu commented on #1020
You're using a different pre trained model version than the required by the node.

Please use the pre trained models from the version indicated in the README file of the ssd node.

[2018-01-27 06:48] #1020 closed

[2018-01-27 06:49] amc-nu commented on #958
Coco models are not currently supported by the node, only the Pascal VOC version indicated in the README file.

[2018-01-27 06:49] #958 closed

[2018-01-27 06:52] amc-nu commented on #999
this was solved on #1006

[2018-01-27 06:52] #999 closed

[2018-01-27 07:01] wsung1 commented on #1051
Thanks for your reply, @amc-nu!
The result from --screen option is as follows.
![screenshot from 2018-01-27 15-57-08_--screen option](https://user-images.githubusercontent.com/26803880/35469584-fca09f88-037a-11e8-9f0d-73054d9cd311.png)
[roslaunch-futuremobilitylab01-HP-EliteDesk-800-G3-TWR-5276.log](https://github.com/CPFL/Autoware/files/1669840/roslaunch-futuremobilitylab01-HP-EliteDesk-800-G3-TW

[2018-01-27 07:07] amc-nu commented on #1051
the grasshopper node does not exist. It was not compiled by catkin because you need to install the PointGrey SDK.

https://github.com/CPFL/Autoware/blob/master/ros/src/sensing/drivers/camera/packages/pointgrey/CMakeLists.txt#L22

[2018-01-27 07:51] wsung1 commented on #1051
Thanks, @amc-nu!
I've just installed PointGrey SDK - flycapture2-2.11.3.425-amd64.
The pointgrey CMakeLists.txt above says it is expected to be installed to /usr/include/flycapture.
I think it is installed in a correct path, which can be backed by
![screenshot from 2018-01-27 16-40-09](https://user-images.githubusercontent.com/26803880/35469821-c98f9558-0380-11e8-9374-a65a081b219d.png)
Then, I've

[2018-01-27 07:57] amc-nu commented on #1051
Again there’s no error in the log file you sent. It points to a different log file.

[2018-01-27 08:09] wsung1 commented on #1051
@amc-nu, is a log file you need to look into grasshopper-2.log?
I don't know why but it doesn't exist in the folder given, as shown below.
![screenshot from 2018-01-27 17-08-52](https://user-images.githubusercontent.com/26803880/35470037-c8c6fa5e-0384-11e8-9f14-aa41d802a550.png)

[2018-01-27 08:12] wsung1 commented on #1051
@amc-nu, please let me know how to retrieve the log file named grasshopper.
Once again, I'd like to apologize to you for all these troubles I made.

[2018-01-27 09:07] dlounis commented on #1049
Thanks.
I still don't understand why the map is so far from the map frame (14771 84757 -39) ?

When I try to perform localization whether it is with moriyama data or with Kitti data, NDT matching does not work because the map on rviz is displayed on a separate frame from the lidar scans. I have asked this question before but the answer I got was to apply an identity transform from world to map, bu

[2018-01-27 09:24] lakeprince opened #1052 "c++: internal compiler error: Killed (program cc1plus)"
[  1%] Built target op_utility
Scanning dependencies of target fast_pcl_registration
[  1%] Building CXX object computing/perception/localization/lib/fast_pcl/registration/CMakeFiles/fast_pcl_registration.dir/src/registration.cpp.o
c++: internal compiler error: Killed (program cc1plus)
Please submit a full bug report,
with preprocessed source if appropriate.
See <file:///usr/share/doc/gcc-5/README

[2018-01-27 12:34] #1052 closed

[2018-01-27 12:49] lakeprince commented on #1052
i have solved this problem, it is the ram is not enough, especially in a virtual machine.

[2018-01-28 07:06] thomas3016 opened #1053 "yolo ,ssd ,faster test results on KITTI are terrible"
I first follow the autoware tutorial  to install yolo,ssd and faster. Then I download the KITTI dataset and run the roslaunch kitti_player.launch. I run the yolo, ssd and faster algorithm,respectively. But the detection results are terrible. Any friend can tell me to find where is wrong with me

  - Ubuntu version:14.04
  - ROS Version: indigo
  - Autoware branch:1.50

[2018-01-28 12:59] #1016 closed

[2018-01-28 13:00] amc-nu commented on #1025
Currently Autoware does not support ROS2.

[2018-01-28 13:00] #1025 closed

[2018-01-28 13:00] #1046 closed

[2018-01-28 13:04] amc-nu commented on #1039
You can find the KITTI calibration converted to Autoware Format in here
https://github.com/CPFL/Autoware/blob/master/ros/src/util/packages/kitti_pkg/kitti_launch/calib/kitti_cam02_sync.yml
If you look closely you'll find they have the same values.

[2018-01-28 13:04] #1039 closed

[2018-01-28 13:05] #1036 closed

[2018-01-28 13:07] amc-nu commented on #1030
you need to run ndt matching, please check the localization section and its corresponding tutorial.
NDT will find the transformation required and register it on the tf

[2018-01-28 13:07] #1030 closed

[2018-01-28 13:11] amc-nu commented on #1026
check the "commits" section and look for the hash in that date

[2018-01-28 13:11] #1026 closed

[2018-01-28 13:14] amc-nu commented on #1035
Please follow the localization tutorial (https://github.com/CPFL/Autoware-Manuals/tree/master/en). Very probably you are not providing a good initial position.
NDT connects the two frames thought a transformation in tf

[2018-01-28 13:17] amc-nu commented on #1021
seems your driver is in a different workspace. The easiest solution I can think is to move your package to the same Autoware workspace, re compile and roslaunch.

[2018-01-28 13:17] #1021 closed

[2018-01-28 13:19] amc-nu commented on #1012
You can find the solution to your problem here

https://bugs.launchpad.net/ubuntu/+source/ibus/+bug/1125944

[2018-01-28 14:58] qixuxiang opened #1055 "sample Dataset require in orb_localizer"
##require

in  lib ```orb_localizer```,there is no sample dataset, just require "Prepare ROS bag files containing both image streams and ground truth pose".
I looked for a suitable dataset for a long time,but return without anything.
would you please give a  sample Dataset download link ,thanks a lot!

## Specifications

  - Ubuntu version: Ubuntu 14.04
  - ROS Version: indigo
  - Autoware branch:

[2018-01-29 03:42] YAMMAY opened #1057 "ndt_gpu , Error: an illegal memory access was encountered"
Fill-out only one section depending on whether you are reporting a bug or a new feature.

# Bug
## Expected Behavior
when execute ndt_mapping using the gpu ndt method.
## Actual Behavior
 Error: an illegal memory access was encountered
 src/ndt_gpu/src/NormalDistributionsTransform.cu 929

I open file NormalDistributionsTransform.cu， and get the 929 line is:
 checkCudaErrors(cudaDeviceSynchronize()

[2018-01-29 08:36] #1051 closed

[2018-01-29 10:55] yk-fujii commented on #1012
@amc-nu
This solution is for ibus, right?
warning of "wxPyDeprecationWarning: Call to deprecated item." is remaining;(

[2018-01-29 19:16] dlounis commented on #1035
Hello,

thanks for your reply. I have followed the tutorials carefully several times. I provide an initial pose that is 0 0 0 0 0 0. With the same setup, when I am using the pcd's provided in the quick start demo, I manage to perform localization with ndt matching without problems. The problem occurs when I use the pcd's that I've generated with approximate_ndt_mapping. I have noticed that the pro

[2018-01-30 02:59] amc-nu commented on #1051
can you try running rosrun instead of roslaunch? that will give the complete output.

[2018-01-30 03:02] amc-nu commented on #1050
@wsung1 you need to select the corresponding calibration file to your device:
https://github.com/CPFL/Autoware/tree/master/ros/src/sensing/drivers/lidar/packages/velodyne/velodyne_pointcloud/params

[2018-01-30 03:25] amc-nu commented on #1049
Once you provide an initialization position for NDT using the 2D Pose Estimate tool, NDT will add the transformation to the tf tree, rviz will automatically show the map and sensor points, just select "world" in the fixed frame in rviz. You can run RQT and see the tf tree.

Regarding the numbers, imagine a huge map of the whole world. Where is the origin? We can choose whatever we want. It is arbi

[2018-01-30 03:38] wsung1 commented on #1050
Thanks for your reply @amc-nu,
By any chance, do you know the difference between VLP16db and VLP16_hires_db?

[2018-01-30 03:52] wsung1 commented on #1051
Sure, I'd like to do and also I think I should do! But on the one hand, I feel embarrassed because my fault is too rudimentary.
I still don't know how to access such log files (grasshopper-2.log) as they don't exist in the directory given.
However, I've got to know what causes the processes to die.In my case, this was related to configuring USBFS. I should've done this beforehand but I didn't. Ref

[2018-01-30 03:52] #1028 closed

[2018-01-30 03:53] #986 closed

[2018-01-30 04:14] YAMMAY commented on #1057
I checkout to fix/ndt_mapping_crash_gpu branch, then no problem.

[2018-01-30 04:14] #1057 closed

[2018-01-30 04:23] wsung1 commented on #498
Dear @Eric-Gonzalez, @alexanderhmw
While sensor calibrating, I have point cloud data "visible" through RViz
![screenshot from 2018-01-30 13-11-00](https://user-images.githubusercontent.com/26803880/35547990-e8e0bcf2-05bf-11e8-9f54-4daf4f6e4a69.png)
but "not visible" on calibration toolkit.
![screenshot from 2018-01-30 13-10-44](https://user-images.githubusercontent.com/26803880/35547993-f111ef2c-0

[2018-01-30 05:43] GeoBIMpro commented on #1051
@wsung1 Which Lens are you using for Grasshopper3?(Model of C Mount Lens)

[2018-01-30 08:55] wsung1 opened #1059 "Point cloud visible with RViz but invisible with calibration toolkit"
Dear all,
For sensor calibrating, I have point cloud data "visible" through RViz
![screenshot from 2018-01-30 13-11-00](https://user-images.githubusercontent.com/26803880/35556917-f5aa3a22-05e6-11e8-9a7c-2e2d52df6fd4.png)
but "not visible" on calibration toolkit.
![screenshot from 2018-01-30 13-10-44](https://user-images.githubusercontent.com/26803880/35556930-fb99a2c4-05e6-11e8-8df9-02ccd1f731cb.

[2018-01-30 09:11] wsung1 commented on #1051
Hi, @GeoBIMpro! Just out of the curiosity? As attached, I've had 3 different lenses (all C-mount). Perhaps M1614 will be used for Autoware. This never means it is best suited to Grasshopper3 or something.
I hope Autoware would speak out their camera and lens specifications in detail. I think this can be reference to a novice developer like me.

[2018-01-30 21:43] muralijp opened #1060 "Issues with Launching Autoware"
# Bug
I have installed Autoware thru docker and I am running it on my GTX1070  laptop. However, when I launch as per quick start guide instructions. I get this message and my rviz freezes.

## Expected Behavior

## Actual Behavior

I could bring up runtime manager when I run Autoware, but it does not ask for password
When I load localization launch file, I get this error message at terminal window